{
  "openapi": "3.0.4",
  "info": {
    "title": "Exchange Rates API",
    "description": "Exchange Rates API for retrieving daily, weekly, biweekly, and monthly currency exchange rates from official sources (central banks, tax authorities). Visit our website to find up-to-date information on the supported data sources and detailed API features.",
    "contact": {
      "name": "Fluentax",
      "url": "https://www.fluentax.com/contact-us",
      "email": "hello@fluentax.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://fx-api.fluentax.com"
    }
  ],
  "paths": {
    "/v1/Banks/{bankId}/BankHolidays/{year}": {
      "get": {
        "tags": [
          "BankHolidays"
        ],
        "summary": "Returns the bank holidays for the specified bank and year. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBankHolidaysForYear",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The year.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The requested format.",
            "schema": {
              "$ref": "#/components/schemas/HolidayFormat"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the bank holidays.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankHolidayModel"
                  }
                },
                "example": [
                  {
                    "date": "2020-01-01",
                    "name": "New Year's Day",
                    "localName": "Første nyttårsdag"
                  },
                  {
                    "date": "2020-04-09",
                    "name": "Maundy Thursday",
                    "localName": "Skjærtorsdag"
                  },
                  {
                    "date": "2020-04-10",
                    "name": "Good Friday",
                    "localName": "Langfredag"
                  },
                  {
                    "date": "2020-04-12",
                    "name": "Easter Sunday",
                    "localName": "Første påskedag"
                  },
                  {
                    "date": "2020-04-13",
                    "name": "Easter Monday",
                    "localName": "Andre påskedag"
                  },
                  {
                    "date": "2020-05-01",
                    "name": "Labour Day",
                    "localName": "Første mai"
                  },
                  {
                    "date": "2020-05-17",
                    "name": "Constitution Day",
                    "localName": "Syttende mai"
                  },
                  {
                    "date": "2020-05-21",
                    "name": "Ascension Day",
                    "localName": "Kristi himmelfartsdag"
                  },
                  {
                    "date": "2020-05-31",
                    "name": "Pentecost",
                    "localName": "Første pinsedag"
                  },
                  {
                    "date": "2020-06-01",
                    "name": "Whit Monday",
                    "localName": "Andre pinsedag"
                  },
                  {
                    "date": "2020-12-24",
                    "name": "Christmas Eve",
                    "localName": "Julaften"
                  },
                  {
                    "date": "2020-12-25",
                    "name": "Christmas Day",
                    "localName": "Første juledag"
                  },
                  {
                    "date": "2020-12-26",
                    "name": "St. Stephen's Day",
                    "localName": "Andre juledag"
                  }
                ]
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "400": {
            "description": "Invalid bankId or year specified."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BankHolidays": {
      "get": {
        "tags": [
          "BankHolidays"
        ],
        "summary": "Returns the bank holidays for the specified bank and date range. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBankHolidaysBetweenDates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date of the range.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date of the range. The maximum interval is 3 years (1095 days).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The requested format.",
            "schema": {
              "$ref": "#/components/schemas/HolidayFormat"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the bank holidays.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankHolidayModel"
                  }
                },
                "example": [
                  {
                    "date": "2020-01-01",
                    "name": "New Year's Day",
                    "localName": "Første nyttårsdag"
                  },
                  {
                    "date": "2020-04-09",
                    "name": "Maundy Thursday",
                    "localName": "Skjærtorsdag"
                  },
                  {
                    "date": "2020-04-10",
                    "name": "Good Friday",
                    "localName": "Langfredag"
                  },
                  {
                    "date": "2020-04-12",
                    "name": "Easter Sunday",
                    "localName": "Første påskedag"
                  },
                  {
                    "date": "2020-04-13",
                    "name": "Easter Monday",
                    "localName": "Andre påskedag"
                  },
                  {
                    "date": "2020-05-01",
                    "name": "Labour Day",
                    "localName": "Første mai"
                  },
                  {
                    "date": "2020-05-17",
                    "name": "Constitution Day",
                    "localName": "Syttende mai"
                  },
                  {
                    "date": "2020-05-21",
                    "name": "Ascension Day",
                    "localName": "Kristi himmelfartsdag"
                  },
                  {
                    "date": "2020-05-31",
                    "name": "Pentecost",
                    "localName": "Første pinsedag"
                  },
                  {
                    "date": "2020-06-01",
                    "name": "Whit Monday",
                    "localName": "Andre pinsedag"
                  },
                  {
                    "date": "2020-12-24",
                    "name": "Christmas Eve",
                    "localName": "Julaften"
                  },
                  {
                    "date": "2020-12-25",
                    "name": "Christmas Day",
                    "localName": "Første juledag"
                  },
                  {
                    "date": "2020-12-26",
                    "name": "St. Stephen's Day",
                    "localName": "Andre juledag"
                  }
                ]
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "400": {
            "description": "Invalid bankId or date range specified."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BankHolidays/Next": {
      "get": {
        "tags": [
          "BankHolidays"
        ],
        "summary": "Returns the next upcoming bank holiday for the specified bank. (Auth policies: RequireBankSubscription)",
        "operationId": "GetNextBankHoliday",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the bank holiday.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankHolidayModel"
                }
              }
            }
          },
          "204": {
            "description": "The bank holidays are not available for the given bank.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "400": {
            "description": "Invalid bankId specified."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "Returns the bank details for all available banks. (Auth)",
        "operationId": "GetBanks",
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the bank details.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankModel"
                  }
                },
                "example": [
                  {
                    "id": "NOCB",
                    "name": [
                      {
                        "languageCode": "en",
                        "name": "Norges Bank",
                        "abbreviatedName": "Norgesbank"
                      },
                      {
                        "languageCode": "no",
                        "name": "Norges Bank",
                        "abbreviatedName": "Norgesbank"
                      }
                    ],
                    "publishedDays": null,
                    "dailyUpdateTime": "16:00:00",
                    "bankCurrency": "NOK",
                    "countryCode": [
                      "NO"
                    ],
                    "region": [
                      "EuropeNonEU"
                    ],
                    "timeZone": {
                      "windowsTimeZoneId": "W. Europe Standard Time",
                      "ianaTimeZoneName": "Europe/Oslo"
                    },
                    "supportedFrequencies": [
                      "Daily"
                    ],
                    "supportedPriceTypes": [
                      "Mid"
                    ],
                    "website": "https://www.norges-bank.no",
                    "peggedRate": null
                  }
                ]
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "Returns the bank details for the specified bank. (Auth)",
        "operationId": "GetBank",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the bank details.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankModel"
                },
                "example": {
                  "id": "NOCB",
                  "name": [
                    {
                      "languageCode": "en",
                      "name": "Norges Bank",
                      "abbreviatedName": "Norgesbank"
                    },
                    {
                      "languageCode": "no",
                      "name": "Norges Bank",
                      "abbreviatedName": "Norgesbank"
                    }
                  ],
                  "publishedDays": null,
                  "dailyUpdateTime": "16:00:00",
                  "bankCurrency": "NOK",
                  "countryCode": [
                    "NO"
                  ],
                  "region": [
                    "EuropeNonEU"
                  ],
                  "timeZone": {
                    "windowsTimeZoneId": "W. Europe Standard Time",
                    "ianaTimeZoneName": "Europe/Oslo"
                  },
                  "supportedFrequencies": [
                    "Daily"
                  ],
                  "supportedPriceTypes": [
                    "Mid"
                  ],
                  "website": "https://www.norges-bank.no",
                  "peggedRate": null
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "400": {
            "description": "Invalid bankId specified."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/Availability": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the data availability information. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBiweeklyRatesAvailability",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the data availability information.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankDataAvailabilityModel"
                }
              }
            }
          },
          "204": {
            "description": "The data availability information is not available.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/Availability/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the data availability information for the specified period. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBiweeklyRatesAvailabilityBetweenDates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "startDate",
            "in": "path",
            "description": "The start date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "The end date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the data availability information.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "204": {
            "description": "The data availability information is not available.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/Latest": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the latest available exchange rates. (Auth policies: RequireBankSubscription)",
        "operationId": "GetLatestBiweeklyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/{year}/{month}": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the exchange rates for the given month. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBiweeklyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The requested year.",
            "required": true,
            "schema": {
              "minimum": 1900,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "month",
            "in": "path",
            "description": "The requested month.",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/ThisMonth": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the exchange rates for the current month (in UTC time). (Auth policies: RequireBankSubscription)",
        "operationId": "GetThisMonthBiweeklyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Convert": {
      "get": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert an amount from one currency to another. (Auth)",
        "operationId": "Convert",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The source currency.",
            "required": true,
            "schema": {
              "maxLength": 3,
              "minLength": 3,
              "type": "string"
            },
            "example": "EUR"
          },
          {
            "name": "to",
            "in": "query",
            "description": "The target currency.",
            "required": true,
            "schema": {
              "maxLength": 3,
              "minLength": 3,
              "type": "string"
            },
            "example": "NOK"
          },
          {
            "name": "amount",
            "in": "query",
            "description": "The amount to be converted.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "decimal"
            },
            "example": 152.47
          },
          {
            "name": "date",
            "in": "query",
            "description": "The conversion date.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2020-09-24"
          },
          {
            "name": "bankId",
            "in": "query",
            "description": "The bank identifier.",
            "schema": {
              "$ref": "#/components/schemas/BankId"
            },
            "example": "NOCB"
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "The exchange rate frequency.",
            "schema": {
              "$ref": "#/components/schemas/Frequency"
            },
            "example": "Daily"
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the conversion result.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyConversionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://tools.ietf.org/html/rfc7231#section-6.5.1",
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "traceId": "00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00",
                  "errors": {
                    "bankId": "Daily rates are not supported for the specified bank."
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "400": {
            "description": "Invalid bankId specified."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "deprecated": true
      }
    },
    "/v1/Currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Returns the currency details for all available currencies. (Auth)",
        "operationId": "GetCurrencies",
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "description": "The optional country code to filter the currencies by the specific country.",
            "schema": {
              "$ref": "#/components/schemas/CountryCode"
            }
          },
          {
            "name": "isObsolete",
            "in": "query",
            "description": "The optional flag to filter currencies based on whether they are obsolete (true) or still in circulation (false).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the currency details.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyModel"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Currencies/{currencyCode}": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Returns the currency details for the specified currency code. (Auth)",
        "operationId": "GetCurrency",
        "parameters": [
          {
            "name": "currencyCode",
            "in": "path",
            "description": "The currency code.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CurrencyCode"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the currency details.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyModel"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/DailyRates/Availability": {
      "get": {
        "tags": [
          "DailyRates"
        ],
        "summary": "Returns the data availability information. (Auth policies: RequireBankSubscription)",
        "operationId": "GetDailyRatesAvailability",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the data availability information.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankDataAvailabilityModel"
                }
              }
            }
          },
          "204": {
            "description": "The data availability information is not available.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/DailyRates/Availability/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "DailyRates"
        ],
        "summary": "Returns the data availability information for the specified period. (Auth policies: RequireBankSubscription)",
        "operationId": "GetDailyRatesAvailabilityBetweenDates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "startDate",
            "in": "path",
            "description": "The start date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "The end date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the data availability information.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "204": {
            "description": "The data availability information is not available.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/DailyRates/Latest": {
      "get": {
        "tags": [
          "DailyRates"
        ],
        "summary": "Returns the latest available exchange rates. (Auth policies: RequireBankSubscription)",
        "operationId": "GetLatestDailyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/DailyRates/TimeSeries": {
      "get": {
        "tags": [
          "DailyRates"
        ],
        "summary": "Returns the exchange rates for the given date range. (Auth policies: RequireBankSubscription)",
        "operationId": "GetDailyRateTimeSeries",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/DailyRates/{date}": {
      "get": {
        "tags": [
          "DailyRates"
        ],
        "summary": "Returns the exchange rates for the specified date. (Auth policies: RequireBankSubscription)",
        "operationId": "GetDailyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The requested date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/DailyRates/Today": {
      "get": {
        "tags": [
          "DailyRates"
        ],
        "summary": "Returns the exchange rates for the current day (in UTC time). (Auth policies: RequireBankSubscription)",
        "operationId": "GetTodaysDailyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "204": {
            "description": "Exchange rates are not (yet) available for today.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            }
          },
          "302": {
            "description": "Found"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/MonthlyRates/Availability": {
      "get": {
        "tags": [
          "MonthlyRates"
        ],
        "summary": "Returns the data availability information. (Auth policies: RequireBankSubscription)",
        "operationId": "GetMonthlyRatesAvailability",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the data availability information.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankDataAvailabilityModel"
                }
              }
            }
          },
          "204": {
            "description": "The data availability information is not available.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/MonthlyRates/Availability/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "MonthlyRates"
        ],
        "summary": "Returns the data availability information for the specified period. (Auth policies: RequireBankSubscription)",
        "operationId": "GetMonthlyRatesAvailabilityBetweenDates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "startDate",
            "in": "path",
            "description": "The start date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "The end date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the data availability information.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "204": {
            "description": "The data availability information is not available.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/MonthlyRates/Latest": {
      "get": {
        "tags": [
          "MonthlyRates"
        ],
        "summary": "Returns the latest available exchange rates. (Auth policies: RequireBankSubscription)",
        "operationId": "GetLatestMonthlyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/MonthlyRates/{year}/{month}": {
      "get": {
        "tags": [
          "MonthlyRates"
        ],
        "summary": "Returns the exchange rates for the given month. (Auth policies: RequireBankSubscription)",
        "operationId": "GetMonthlyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The requested year.",
            "required": true,
            "schema": {
              "minimum": 1900,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "month",
            "in": "path",
            "description": "The requested month.",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/MonthlyRates/ThisMonth": {
      "get": {
        "tags": [
          "MonthlyRates"
        ],
        "summary": "Returns the exchange rates for the current month (in UTC time). (Auth policies: RequireBankSubscription)",
        "operationId": "GetThisMonthMonthlyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/WeeklyRates/Availability": {
      "get": {
        "tags": [
          "WeeklyRates"
        ],
        "summary": "Returns the data availability information. (Auth policies: RequireBankSubscription)",
        "operationId": "GetWeeklyRatesAvailability",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the data availability information.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankDataAvailabilityModel"
                }
              }
            }
          },
          "204": {
            "description": "The data availability information is not available.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/WeeklyRates/Availability/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "WeeklyRates"
        ],
        "summary": "Returns the data availability information for the specified period. (Auth policies: RequireBankSubscription)",
        "operationId": "GetWeeklyRatesAvailabilityBetweenDates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "startDate",
            "in": "path",
            "description": "The start date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "The end date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Returns the data availability information.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "204": {
            "description": "The data availability information is not available.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/WeeklyRates/Latest": {
      "get": {
        "tags": [
          "WeeklyRates"
        ],
        "summary": "Returns the latest available exchange rates. (Auth policies: RequireBankSubscription)",
        "operationId": "GetLatestWeeklyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/WeeklyRates/{year}/{month}": {
      "get": {
        "tags": [
          "WeeklyRates"
        ],
        "summary": "Returns the exchange rates for the given month. (Auth policies: RequireBankSubscription)",
        "operationId": "GetWeeklyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The requested year.",
            "required": true,
            "schema": {
              "minimum": 1900,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "month",
            "in": "path",
            "description": "The requested month.",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/WeeklyRates/ThisMonth": {
      "get": {
        "tags": [
          "WeeklyRates"
        ],
        "summary": "Returns the exchange rates for the current month (in UTC time). (Auth policies: RequireBankSubscription)",
        "operationId": "GetThisMonthWeeklyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "$ref": "#/components/responses/ExchangeRates"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BankDataAvailabilityModel": {
        "required": [
          "availableCurrencies",
          "availablePriceTypes",
          "firstEffectiveDate",
          "lastEffectiveDate"
        ],
        "type": "object",
        "properties": {
          "firstEffectiveDate": {
            "type": "string",
            "description": "The first available effective date.",
            "format": "date"
          },
          "lastEffectiveDate": {
            "type": "string",
            "description": "The last available effective date.",
            "format": "date"
          },
          "availableCurrencies": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of available currency codes."
          },
          "availablePriceTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceType"
            },
            "description": "The list of available price types."
          }
        },
        "additionalProperties": false
      },
      "BankHolidayModel": {
        "required": [
          "date",
          "localName",
          "name"
        ],
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "The date on which the holiday is observed.",
            "format": "date",
            "example": "2020-12-24"
          },
          "name": {
            "minLength": 1,
            "type": "string",
            "description": "The English name of the holiday.",
            "example": "Christmas Eve"
          },
          "localName": {
            "minLength": 1,
            "type": "string",
            "description": "The local name of the holiday.",
            "example": "Julaften"
          }
        },
        "additionalProperties": false
      },
      "BankId": {
        "enum": [
          "AECB",
          "ALCB",
          "AMCB",
          "AOCB",
          "ARBNA",
          "ATBMF",
          "AUCB",
          "AWCB",
          "AZCB",
          "BACB",
          "BBCB",
          "BDCB",
          "BGCB",
          "BHCB",
          "BOCB",
          "BRCB",
          "BYCB",
          "CACB",
          "CDCB",
          "CHFTA",
          "CLCB",
          "CNCB",
          "COCB",
          "COSFC",
          "CRCB",
          "CYMOF",
          "CZCB",
          "DEBMF",
          "DKCB",
          "DOCB",
          "DZCB",
          "ECCB",
          "EGCB",
          "ETCB",
          "EUECB",
          "GBCB",
          "GBHMRC",
          "GECB",
          "GHCB",
          "GNCB",
          "GRAADE",
          "GTCB",
          "GYCB",
          "HNCB",
          "HRCB",
          "HUCB",
          "IDMOF",
          "ILCB",
          "INCB",
          "ISCB",
          "ITCB",
          "ITCBUSD",
          "JPMUFG",
          "KECB",
          "KGCB",
          "KHCB",
          "KRSMBS",
          "KWCB",
          "KZCB",
          "LACB",
          "LKCB",
          "MACB",
          "MDCB",
          "MKCB",
          "MMCB",
          "MNCB",
          "MRCB",
          "MVCB",
          "MXCB",
          "MYCB",
          "MZCB",
          "NGCB",
          "NICB",
          "NOCB",
          "NOTOLL",
          "NPCB",
          "NZCB",
          "OMCB",
          "PESBS",
          "PHCB",
          "PLCB",
          "PYSET",
          "QACB",
          "ROCB",
          "RSCB",
          "RUCB",
          "SACB",
          "SCCB",
          "SECB",
          "SGCB",
          "SRCB",
          "THCB",
          "THCBS",
          "THCBT",
          "TJCB",
          "TNCB",
          "TRCB",
          "TWBOT",
          "TZCB",
          "UACB",
          "UGURA",
          "UNTR",
          "USCB",
          "UYCB",
          "UZCB",
          "VECB",
          "VNCB",
          "XACB",
          "XCCB",
          "XOCB",
          "ZACB",
          "ZMCB"
        ],
        "type": "string",
        "description": "Bank identifier:\n* `AECB` - Central Bank of the UAE\n* `ALCB` - Bank of Albania\n* `AMCB` - Central Bank of Armenia\n* `AOCB` - National Bank of Angola\n* `ARBNA` - Bank of the Argentine Nation\n* `ATBMF` - Austrian Ministry of Finance\n* `AUCB` - Reserve Bank of Australia\n* `AWCB` - Central Bank of Aruba\n* `AZCB` - Central Bank of the Republic of Azerbaijan\n* `BACB` - Central Bank of Bosnia and Herzegovina\n* `BBCB` - Central Bank of Barbados\n* `BDCB` - Bangladesh Bank\n* `BGCB` - Bulgarian National Bank\n* `BHCB` - Central Bank of Bahrain\n* `BOCB` - Central Bank of Bolivia\n* `BRCB` - Central Bank of Brazil\n* `BYCB` - National Bank of the Republic of Belarus\n* `CACB` - Bank of Canada\n* `CDCB` - Central Bank of the Congo\n* `CHFTA` - Federal Tax Administration\n* `CLCB` - Central Bank of Chile\n* `CNCB` - People's Bank of China\n* `COCB` - Central Bank of Colombia\n* `COSFC` - Financial Superintendence of Colombia\n* `CRCB` - Central Bank of Costa Rica\n* `CYMOF` - Republic of Cyprus, Ministry of Finance\n* `CZCB` - Czech National Bank\n* `DEBMF` - Federal Ministry of Finance\n* `DKCB` - Danmarks Nationalbank\n* `DOCB` - Central Bank of the Dominican Republic\n* `DZCB` - Bank of Algeria\n* `ECCB` - Central Bank of Ecuador\n* `EGCB` - Central Bank of Egypt\n* `ETCB` - National Bank of Ethiopia\n* `EUECB` - European Central Bank\n* `GBCB` - Bank of England\n* `GBHMRC` - HM Revenue & Customs\n* `GECB` - National Bank of Georgia\n* `GHCB` - Bank of Ghana\n* `GNCB` - Central Bank of the Republic of Guinea\n* `GRAADE` - Independent Authority for Public Revenue\n* `GTCB` - Bank of Guatemala\n* `GYCB` - Bank of Guyana\n* `HNCB` - Central Bank of Honduras\n* `HRCB` - Croatian National Bank\n* `HUCB` - Central Bank of Hungary\n* `IDMOF` - Ministry of Finance of the Republic of Indonesia\n* `ILCB` - Bank of Israel\n* `INCB` - Reserve Bank of India\n* `ISCB` - Central Bank of Iceland\n* `ITCB` - Bank of Italy\n* `ITCBUSD` - Bank of Italy - USD rates\n* `JPMUFG` - Mitsubishi UFJ Financial Group\n* `KECB` - Central Bank of Kenya\n* `KGCB` - National Bank of the Kyrgyz Republic\n* `KHCB` - National Bank of Cambodia\n* `KRSMBS` - Seoul Money Brokerage Services\n* `KWCB` - Central Bank of Kuwait\n* `KZCB` - National Bank of Kazakhstan\n* `LACB` - Bank of the Lao P.D.R.\n* `LKCB` - Central Bank of Sri Lanka\n* `MACB` - Bank Al-Maghrib\n* `MDCB` - National Bank of Moldova\n* `MKCB` - National Bank of the Republic of North Macedonia\n* `MMCB` - Central Bank of Myanmar\n* `MNCB` - Bank of Mongolia (Mongolbank)\n* `MRCB` - Central Bank of Mauritania\n* `MVCB` - Maldives Monetary Authority\n* `MXCB` - Bank of Mexico\n* `MYCB` - Central Bank of Malaysia\n* `MZCB` - Bank of Mozambique\n* `NGCB` - Central Bank of Nigeria\n* `NICB` - Central Bank of Nicaragua\n* `NOCB` - Norges Bank\n* `NOTOLL` - Norwegian Customs\n* `NPCB` - Nepal Rastra Bank\n* `NZCB` - Reserve Bank of New Zealand\n* `OMCB` - Central Bank of Oman\n* `PESBS` - Superintendency of Banking, Insurance and Pension Fund Administrators\n* `PHCB` - Central Bank of the Philippines\n* `PLCB` - National Bank of Poland\n* `PYSET` - National Directorate of Tax Revenues\n* `QACB` - Qatar Central Bank\n* `ROCB` - National Bank of Romania\n* `RSCB` - National Bank of Serbia\n* `RUCB` - Central Bank of Russia\n* `SACB` - Saudi Central Bank\n* `SCCB` - Central Bank of Seychelles\n* `SECB` - Sveriges Riksbank\n* `SGCB` - Monetary Authority of Singapore\n* `SRCB` - Central Bank of Suriname\n* `THCB` - Bank of Thailand\n* `THCBS` - Bank of Thailand - Average Buying Rate: Sight Bill\n* `THCBT` - Bank of Thailand - Average Buying Rate: Transfer\n* `TJCB` - National Bank of Tajikistan\n* `TNCB` - Central Bank of Tunisia\n* `TRCB` - Central Bank of the Republic of Turkey\n* `TWBOT` - Bank Of Taiwan\n* `TZCB` - Bank of Tanzania\n* `UACB` - National Bank of Ukraine\n* `UGURA` - Uganda Revenue Authority\n* `UNTR` - United Nations Treasury\n* `USCB` - United States Federal Reserve\n* `UYCB` - Central Bank of Uruguay\n* `UZCB` - Central Bank of the Republic of Uzbekistan\n* `VECB` - Central Bank of Venezuela\n* `VNCB` - State Bank of Vietnam\n* `XACB` - Bank of Central African States\n* `XCCB` - Eastern Caribbean Central Bank\n* `XOCB` - Central Bank of West African States\n* `ZACB` - South African Reserve Bank\n* `ZMCB` - Bank of Zambia",
        "externalDocs": {
          "description": "Documentation on Bank ID",
          "url": "https://developer.fluentax.com/docs/exchange-rates-api/terminology#bank-id"
        }
      },
      "BankModel": {
        "required": [
          "bankCurrency",
          "countryCode",
          "id",
          "name",
          "region",
          "supportedFrequencies",
          "supportedPriceTypes",
          "timeZone",
          "website"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/BankId"
          },
          "name": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocalName"
            }
          },
          "publishedDays": {
            "$ref": "#/components/schemas/PublishedDays"
          },
          "dailyUpdateTime": {
            "type": "string",
            "description": "The time at which the daily exchange rates are published by the bank.",
            "format": "time",
            "nullable": true,
            "example": "16:00:00"
          },
          "bankCurrency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "countryCode": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryCode"
            },
            "description": "The country (or countries) for which the bank provides exchange rates.",
            "example": "NO"
          },
          "region": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Region"
            },
            "description": "The applicable regional groupings.",
            "example": "EuropeNonEU"
          },
          "timeZone": {
            "$ref": "#/components/schemas/TimeZone"
          },
          "supportedFrequencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Frequency"
            },
            "description": "The exchange rate frequencies available for the bank."
          },
          "supportedPriceTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceType"
            },
            "description": "The price types available for the bank."
          },
          "website": {
            "minLength": 1,
            "type": "string",
            "description": "The website of the bank."
          },
          "peggedRate": {
            "$ref": "#/components/schemas/PeggedRateModel"
          }
        },
        "additionalProperties": false
      },
      "CountryCode": {
        "enum": [
          "AD",
          "AE",
          "AF",
          "AG",
          "AI",
          "AL",
          "AM",
          "AO",
          "AQ",
          "AR",
          "AS",
          "AT",
          "AU",
          "AW",
          "AX",
          "AZ",
          "BA",
          "BB",
          "BD",
          "BE",
          "BF",
          "BG",
          "BH",
          "BI",
          "BJ",
          "BL",
          "BM",
          "BN",
          "BO",
          "BQ",
          "BR",
          "BS",
          "BT",
          "BV",
          "BW",
          "BY",
          "BZ",
          "CA",
          "CC",
          "CD",
          "CF",
          "CG",
          "CH",
          "CI",
          "CK",
          "CL",
          "CM",
          "CN",
          "CO",
          "CR",
          "CU",
          "CV",
          "CW",
          "CX",
          "CY",
          "CZ",
          "DE",
          "DJ",
          "DK",
          "DM",
          "DO",
          "DZ",
          "EC",
          "EE",
          "EG",
          "EH",
          "ER",
          "ES",
          "ET",
          "FI",
          "FJ",
          "FK",
          "FM",
          "FO",
          "FR",
          "GA",
          "GB",
          "GD",
          "GE",
          "GF",
          "GG",
          "GH",
          "GI",
          "GL",
          "GM",
          "GN",
          "GP",
          "GQ",
          "GR",
          "GS",
          "GT",
          "GU",
          "GW",
          "GY",
          "HK",
          "HM",
          "HN",
          "HR",
          "HT",
          "HU",
          "ID",
          "IE",
          "IL",
          "IM",
          "IN",
          "IO",
          "IQ",
          "IR",
          "IS",
          "IT",
          "JE",
          "JM",
          "JO",
          "JP",
          "KE",
          "KG",
          "KH",
          "KI",
          "KM",
          "KN",
          "KP",
          "KR",
          "KW",
          "KY",
          "KZ",
          "LA",
          "LB",
          "LC",
          "LI",
          "LK",
          "LR",
          "LS",
          "LT",
          "LU",
          "LV",
          "LY",
          "MA",
          "MC",
          "MD",
          "ME",
          "MF",
          "MG",
          "MH",
          "MK",
          "ML",
          "MM",
          "MN",
          "MO",
          "MP",
          "MQ",
          "MR",
          "MS",
          "MT",
          "MU",
          "MV",
          "MW",
          "MX",
          "MY",
          "MZ",
          "NA",
          "NC",
          "NE",
          "NF",
          "NG",
          "NI",
          "NL",
          "NO",
          "NP",
          "NR",
          "NU",
          "NZ",
          "OM",
          "PA",
          "PE",
          "PF",
          "PG",
          "PH",
          "PK",
          "PL",
          "PM",
          "PN",
          "PR",
          "PS",
          "PT",
          "PW",
          "PY",
          "QA",
          "RE",
          "RO",
          "RS",
          "RU",
          "RW",
          "SA",
          "SB",
          "SC",
          "SD",
          "SE",
          "SG",
          "SH",
          "SI",
          "SJ",
          "SK",
          "SL",
          "SM",
          "SN",
          "SO",
          "SR",
          "SS",
          "ST",
          "SV",
          "SX",
          "SY",
          "SZ",
          "TC",
          "TD",
          "TF",
          "TG",
          "TH",
          "TJ",
          "TK",
          "TL",
          "TM",
          "TN",
          "TO",
          "TR",
          "TT",
          "TV",
          "TW",
          "TZ",
          "UA",
          "UG",
          "UM",
          "US",
          "UY",
          "UZ",
          "VA",
          "VC",
          "VE",
          "VG",
          "VI",
          "VN",
          "VU",
          "WF",
          "WS",
          "X5",
          "XK",
          "XX",
          "YE",
          "YT",
          "ZA",
          "ZM",
          "ZW"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "CountryCode:\n* `AD` - Andorra\n* `AE` - United Arab Emirates\n* `AF` - Afghanistan\n* `AG` - Antigua and Barbuda\n* `AI` - Anguilla\n* `AL` - Albania\n* `AM` - Armenia\n* `AO` - Angola\n* `AQ` - Antarctica\n* `AR` - Argentina\n* `AS` - American Samoa\n* `AT` - Austria\n* `AU` - Australia\n* `AW` - Aruba\n* `AX` - Åland Islands\n* `AZ` - Azerbaijan\n* `BA` - Bosnia and Herzegovina\n* `BB` - Barbados\n* `BD` - Bangladesh\n* `BE` - Belgium\n* `BF` - Burkina Faso\n* `BG` - Bulgaria\n* `BH` - Bahrain\n* `BI` - Burundi\n* `BJ` - Benin\n* `BL` - Saint Barthélemy\n* `BM` - Bermuda\n* `BN` - Brunei Darussalam\n* `BO` - Bolivia, Plurinational State of\n* `BQ` - Bonaire, Sint Eustatius and Saba\n* `BR` - Brazil\n* `BS` - Bahamas\n* `BT` - Bhutan\n* `BV` - Bouvet Island\n* `BW` - Botswana\n* `BY` - Belarus\n* `BZ` - Belize\n* `CA` - Canada\n* `CC` - Cocos (Keeling) Islands\n* `CD` - Congo, the Democratic Republic of the \n* `CF` - Central African Republic\n* `CG` - Congo\n* `CH` - Switzerland\n* `CI` - Côte d'Ivoire\n* `CK` - Cook Islands\n* `CL` - Chile\n* `CM` - Cameroon\n* `CN` - China\n* `CO` - Colombia\n* `CR` - Costa Rica\n* `CU` - Cuba\n* `CV` - Cabo Verde\n* `CW` - Curaçao\n* `CX` - Christmas Island\n* `CY` - Cyprus\n* `CZ` - Czechia\n* `DE` - Germany\n* `DJ` - Djibouti\n* `DK` - Denmark\n* `DM` - Dominica\n* `DO` - Dominican Republic\n* `DZ` - Algeria\n* `EC` - Ecuador\n* `EE` - Estonia\n* `EG` - Egypt\n* `EH` - Western Sahara\n* `ER` - Eritrea\n* `ES` - Spain\n* `ET` - Ethiopia\n* `FI` - Finland\n* `FJ` - Fiji\n* `FK` - Falkland Islands (Malvinas)\n* `FM` - Micronesia, Federated States of\n* `FO` - Faroe Islands\n* `FR` - France\n* `GA` - Gabon\n* `GB` - United Kingdom of Great Britain and Northern Ireland\n* `GD` - Grenada\n* `GE` - Georgia\n* `GF` - French Guiana\n* `GG` - Guernsey\n* `GH` - Ghana\n* `GI` - Gibraltar\n* `GL` - Greenland\n* `GM` - Gambia\n* `GN` - Guinea\n* `GP` - Guadeloupe\n* `GQ` - Equatorial Guinea\n* `GR` - Greece\n* `GS` - South Georgia and the South Sandwich Islands\n* `GT` - Guatemala\n* `GU` - Guam\n* `GW` - Guinea-Bissau\n* `GY` - Guyana\n* `HK` - Hong Kong\n* `HM` - Heard Island and McDonald Islands\n* `HN` - Honduras\n* `HR` - Croatia\n* `HT` - Haiti\n* `HU` - Hungary\n* `ID` - Indonesia\n* `IE` - Ireland\n* `IL` - Israel\n* `IM` - Isle of Man\n* `IN` - India\n* `IO` - British Indian Ocean Territory\n* `IQ` - Iraq\n* `IR` - Iran, Islamic Republic of\n* `IS` - Iceland\n* `IT` - Italy\n* `JE` - Jersey\n* `JM` - Jamaica\n* `JO` - Jordan\n* `JP` - Japan\n* `KE` - Kenya\n* `KG` - Kyrgyzstan\n* `KH` - Cambodia\n* `KI` - Kiribati\n* `KM` - Comoros\n* `KN` - Saint Kitts and Nevis\n* `KP` - Korea, Democratic People's Republic of\n* `KR` - Korea, Republic of\n* `KW` - Kuwait\n* `KY` - Cayman Islands\n* `KZ` - Kazakhstan\n* `LA` - Lao People's Democratic Republic\n* `LB` - Lebanon\n* `LC` - Saint Lucia\n* `LI` - Liechtenstein\n* `LK` - Sri Lanka\n* `LR` - Liberia\n* `LS` - Lesotho\n* `LT` - Lithuania\n* `LU` - Luxembourg\n* `LV` - Latvia\n* `LY` - Libya\n* `MA` - Morocco\n* `MC` - Monaco\n* `MD` - Moldova, Republic of\n* `ME` - Montenegro\n* `MF` - Saint Martin (French Part)\n* `MG` - Madagascar\n* `MH` - Marshall Islands\n* `MK` - North Macedonia\n* `ML` - Mali\n* `MM` - Myanmar\n* `MN` - Mongolia\n* `MO` - Macao\n* `MP` - Northern Mariana Islands\n* `MQ` - Martinique\n* `MR` - Mauritania\n* `MS` - Montserrat\n* `MT` - Malta\n* `MU` - Mauritius\n* `MV` - Maldives\n* `MW` - Malawi\n* `MX` - Mexico\n* `MY` - Malaysia\n* `MZ` - Mozambique\n* `NA` - Namibia\n* `NC` - New Caledonia\n* `NE` - Niger\n* `NF` - Norfolk Island\n* `NG` - Nigeria\n* `NI` - Nicaragua\n* `NL` - Netherlands\n* `NO` - Norway\n* `NP` - Nepal\n* `NR` - Nauru\n* `NU` - Niue\n* `NZ` - New Zealand\n* `OM` - Oman\n* `PA` - Panama\n* `PE` - Peru\n* `PF` - French Polynesia\n* `PG` - Papua New Guinea\n* `PH` - Philippines\n* `PK` - Pakistan\n* `PL` - Poland\n* `PM` - Saint Pierre and Miquelon\n* `PN` - Pitcairn\n* `PR` - Puerto Rico\n* `PS` - Palestine, State of\n* `PT` - Portugal\n* `PW` - Palau\n* `PY` - Paraguay\n* `QA` - Qatar\n* `RE` - Réunion\n* `RO` - Romania\n* `RS` - Serbia\n* `RU` - Russian Federation\n* `RW` - Rwanda\n* `SA` - Saudi Arabia\n* `SB` - Solomon Islands\n* `SC` - Seychelles\n* `SD` - Sudan\n* `SE` - Sweden\n* `SG` - Singapore\n* `SH` - Saint Helena, Ascension and Tristan da Cunha\n* `SI` - Slovenia\n* `SJ` - Svalbard and Jan Mayen\n* `SK` - Slovakia\n* `SL` - Sierra Leone\n* `SM` - San Marino\n* `SN` - Senegal\n* `SO` - Somalia\n* `SR` - Suriname\n* `SS` - South Sudan\n* `ST` - Sao Tome and Principe\n* `SV` - El Salvador\n* `SX` - Sint Maarten (Dutch part)\n* `SY` - Syrian Arab Republic\n* `SZ` - Eswatini\n* `TC` - Turks and Caicos Islands\n* `TD` - Chad\n* `TF` - French Southern Territories\n* `TG` - Togo\n* `TH` - Thailand\n* `TJ` - Tajikistan\n* `TK` - Tokelau\n* `TL` - Timor-Leste\n* `TM` - Turkmenistan\n* `TN` - Tunisia\n* `TO` - Tonga\n* `TR` - Turkey\n* `TT` - Trinidad and Tobago\n* `TV` - Tuvalu\n* `TW` - Taiwan, Province of China\n* `TZ` - Tanzania, United Republic of\n* `UA` - Ukraine\n* `UG` - Uganda\n* `UM` - United States Minor Outlying Islands\n* `US` - United States\n* `UY` - Uruguay\n* `UZ` - Uzbekistan\n* `VA` - Holy See (Vatican City State)\n* `VC` - Saint Vincent and the Grenadines\n* `VE` - Venezuela, Bolivarian Republic of\n* `VG` - Virgin Islands, British\n* `VI` - Virgin Islands, U.S.\n* `VN` - Viet Nam\n* `VU` - Vanuatu\n* `WF` - Wallis and Futuna\n* `WS` - Samoa\n* `X5` - Stateless\n* `XK` - Kosovo\n* `XX` - Other Country\n* `YE` - Yemen\n* `YT` - Mayotte\n* `ZA` - South Africa\n* `ZM` - Zambia\n* `ZW` - Zimbabwe"
      },
      "CurrencyCode": {
        "enum": [
          "AED",
          "AFN",
          "ALL",
          "AMD",
          "ANG",
          "AOA",
          "ARS",
          "ATS",
          "AUD",
          "AWG",
          "AZN",
          "BAM",
          "BBD",
          "BDT",
          "BEF",
          "BGN",
          "BHD",
          "BIF",
          "BMD",
          "BND",
          "BOB",
          "BOV",
          "BRL",
          "BSD",
          "BTN",
          "BWP",
          "BYN",
          "BYR",
          "BZD",
          "CAD",
          "CDF",
          "CHE",
          "CHF",
          "CHW",
          "CLF",
[...]
