{
  "openapi": "3.0.4",
  "info": {
    "title": "Exchange Rates API",
    "description": "Exchange Rates API for retrieving daily, weekly, biweekly, and monthly currency exchange rates from official sources (central banks, tax authorities). Visit our website to find up-to-date information on the supported data sources and detailed API features.",
    "contact": {
      "name": "Fluentax",
      "url": "https://www.fluentax.com/contact-us",
      "email": "hello@fluentax.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://fx-api.fluentax.com"
    }
  ],
  "paths": {
    "/v1/Banks/{bankId}/BankHolidays/{year}": {
      "get": {
        "tags": [
          "BankHolidays"
        ],
        "summary": "Returns the bank holidays for the specified bank and year. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBankHolidaysForYear",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The year.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The requested format.",
            "schema": {
              "$ref": "#/components/schemas/HolidayFormat"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the bank holidays.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankHolidayModel"
                  }
                },
                "example": [{"date":"2020-01-01","name":"New Year's Day","localName":"Første nyttårsdag"},{"date":"2020-04-09","name":"Maundy Thursday","localName":"Skjærtorsdag"},{"date":"2020-04-10","name":"Good Friday","localName":"Langfredag"},{"date":"2020-04-12","name":"Easter Sunday","localName":"Første påskedag"},{"date":"2020-04-13","name":"Easter Monday","localName":"Andre påskedag"},{"date":"2020-05-01","name":"Labour Day","localName":"Første mai"},{"date":"2020-05-17","name":"Constitution Day","localName":"Syttende mai"},{"date":"2020-05-21","name":"Ascension Day","localName":"Kristi himmelfartsdag"},{"date":"2020-05-31","name":"Pentecost","localName":"Første pinsedag"},{"date":"2020-06-01","name":"Whit Monday","localName":"Andre pinsedag"},{"date":"2020-12-24","name":"Christmas Eve","localName":"Julaften"},{"date":"2020-12-25","name":"Christmas Day","localName":"Første juledag"},{"date":"2020-12-26","name":"St. Stephen's Day","localName":"Andre juledag"}]
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "400": {
            "description": "Invalid bankId or year specified."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BankHolidays/{year}.{format}": {
      "get": {
        "tags": [
          "BankHolidays"
        ],
        "summary": "Returns the bank holidays for the specified bank and year exported into the given file format. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBankHolidaysForYearBinary",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The year.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "The requested format.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/HolidayFormat"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the bank holidays.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankHolidayModel"
                  }
                },
                "example": [{"date":"2020-01-01","name":"New Year's Day","localName":"Første nyttårsdag"},{"date":"2020-04-09","name":"Maundy Thursday","localName":"Skjærtorsdag"},{"date":"2020-04-10","name":"Good Friday","localName":"Langfredag"},{"date":"2020-04-12","name":"Easter Sunday","localName":"Første påskedag"},{"date":"2020-04-13","name":"Easter Monday","localName":"Andre påskedag"},{"date":"2020-05-01","name":"Labour Day","localName":"Første mai"},{"date":"2020-05-17","name":"Constitution Day","localName":"Syttende mai"},{"date":"2020-05-21","name":"Ascension Day","localName":"Kristi himmelfartsdag"},{"date":"2020-05-31","name":"Pentecost","localName":"Første pinsedag"},{"date":"2020-06-01","name":"Whit Monday","localName":"Andre pinsedag"},{"date":"2020-12-24","name":"Christmas Eve","localName":"Julaften"},{"date":"2020-12-25","name":"Christmas Day","localName":"Første juledag"},{"date":"2020-12-26","name":"St. Stephen's Day","localName":"Andre juledag"}]
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "400": {
            "description": "Invalid bankId or year specified."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BankHolidays": {
      "get": {
        "tags": [
          "BankHolidays"
        ],
        "summary": "Returns the bank holidays for the specified bank and date range. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBankHolidaysBetweenDates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date of the range.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date of the range. The maximum interval is 3 years (1095 days).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The requested format.",
            "schema": {
              "$ref": "#/components/schemas/HolidayFormat"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the bank holidays.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankHolidayModel"
                  }
                },
                "example": [{"date":"2020-01-01","name":"New Year's Day","localName":"Første nyttårsdag"},{"date":"2020-04-09","name":"Maundy Thursday","localName":"Skjærtorsdag"},{"date":"2020-04-10","name":"Good Friday","localName":"Langfredag"},{"date":"2020-04-12","name":"Easter Sunday","localName":"Første påskedag"},{"date":"2020-04-13","name":"Easter Monday","localName":"Andre påskedag"},{"date":"2020-05-01","name":"Labour Day","localName":"Første mai"},{"date":"2020-05-17","name":"Constitution Day","localName":"Syttende mai"},{"date":"2020-05-21","name":"Ascension Day","localName":"Kristi himmelfartsdag"},{"date":"2020-05-31","name":"Pentecost","localName":"Første pinsedag"},{"date":"2020-06-01","name":"Whit Monday","localName":"Andre pinsedag"},{"date":"2020-12-24","name":"Christmas Eve","localName":"Julaften"},{"date":"2020-12-25","name":"Christmas Day","localName":"Første juledag"},{"date":"2020-12-26","name":"St. Stephen's Day","localName":"Andre juledag"}]
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "400": {
            "description": "Invalid bankId or data range specified."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BankHolidays.{format}": {
      "get": {
        "tags": [
          "BankHolidays"
        ],
        "summary": "Returns the bank holidays for the specified bank and date range exported into the given file format. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBankHolidaysBetweenDatesBinary",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date of the range.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date of the range. The maximum interval is 3 years (1095 days).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "The requested format.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/HolidayFormat"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the bank holidays.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "400": {
            "description": "Invalid bankId or data range specified."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BankHolidays/Next": {
      "get": {
        "tags": [
          "BankHolidays"
        ],
        "summary": "Returns the next upcoming bank holiday for the specified bank. (Auth policies: RequireBankSubscription)",
        "operationId": "GetNextBankHoliday",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the bank holiday.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankHolidayModel"
                }
              }
            }
          },
          "204": {
            "description": "The bank holidays are not available for the given bank.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "400": {
            "description": "Invalid bankId specified."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "Returns the bank details for all available banks. (Auth)",
        "operationId": "GetBanks",
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the bank details.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankModel"
                  }
                },
                "example": [{"id":"NOCB","name":[{"languageCode":"en","name":"Norges Bank","abbreviatedName":"Norgesbank"},{"languageCode":"no","name":"Norges Bank","abbreviatedName":"Norgesbank"}],"publishedDays":null,"dailyUpdateTime":"16:00:00","bankCurrency":"NOK","countryCode":["NO"],"region":["EuropeNonEU"],"timeZone":{"windowsTimeZoneId":"W. Europe Standard Time","ianaTimeZoneName":"Europe/Oslo"},"supportedFrequencies":["Daily"],"supportedPriceTypes":["Mid"],"website":"https://www.norges-bank.no","peggedRate":null}]
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "Returns the bank details for the specified bank. (Auth)",
        "operationId": "GetBank",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the bank details.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankModel"
                },
                "example": {"id":"NOCB","name":[{"languageCode":"en","name":"Norges Bank","abbreviatedName":"Norgesbank"},{"languageCode":"no","name":"Norges Bank","abbreviatedName":"Norgesbank"}],"publishedDays":null,"dailyUpdateTime":"16:00:00","bankCurrency":"NOK","countryCode":["NO"],"region":["EuropeNonEU"],"timeZone":{"windowsTimeZoneId":"W. Europe Standard Time","ianaTimeZoneName":"Europe/Oslo"},"supportedFrequencies":["Daily"],"supportedPriceTypes":["Mid"],"website":"https://www.norges-bank.no","peggedRate":null}
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "400": {
            "description": "Invalid bankId specified."
          },
          "403": {
            "description": "You don't have an active subscription for the specified bank."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/Availability": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the data availability information. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBiweeklyRatesAvailability",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the data availability information.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankDataAvailabilityModel"
                }
              }
            }
          },
          "204": {
            "description": "The data availability information is not available.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/Availability/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the data availability information for the specified period. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBiweeklyRatesAvailabilityBetweenDates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "startDate",
            "in": "path",
            "description": "The start date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "The end date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the data availability information.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "204": {
            "description": "The data availability information is not available.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/Latest": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the latest available exchange rates. (Auth policies: RequireBankSubscription)",
        "operationId": "GetLatestBiweeklyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the exchange rates.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRatesModel"
                },
                "example": {"bankId":"NOCB","baseCurrency":"NOK","quoteType":"Direct","rates":{"2020-09-24":{"CHF":{"rate":1030.66,"unitMultiplier":2},"CNY":{"rate":139.6,"unitMultiplier":2},"EUR":{"rate":11.1023,"unitMultiplier":null},"USD":{"rate":9.534,"unitMultiplier":null}},"2020-09-25":{"CHF":{"rate":1032.09,"unitMultiplier":2},"CNY":{"rate":140.27,"unitMultiplier":2},"EUR":{"rate":11.1445,"unitMultiplier":null},"USD":{"rate":9.5793,"unitMultiplier":null}}}}
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample XML file",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ExchangeRates xmlns=\"http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates\">\r\n   <BankId>NOCB</BankId>\r\n   <BaseCurrency>NOK</BaseCurrency>\r\n   <QuoteType>Direct</QuoteType>\r\n   <Rates effectiveDate=\"2020-09-24\">\r\n      <Rate currency=\"CHF\" value=\"1030.66\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"CNY\" value=\"139.6\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"EUR\" value=\"11.1023\" />\r\n      <Rate currency=\"USD\" value=\"9.534\" />\r\n   </Rates>\r\n</ExchangeRates>"
                  },
                  "sampleFile": {
                    "summary": "A sample XML file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.xml"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample CSV file",
                    "value": "BankId,From Currency,To Currency,Effective Date,Exchange Rate,Unit\r\nNOCB,CHF,NOK,2020-09-24,1030.66,100\r\nNOCB,CNY,NOK,2020-09-24,139.6,100\r\nNOCB,EUR,NOK,2020-09-24,11.1023,1\r\nNOCB,USD,NOK,2020-09-24,9.534,1\r\n"
                  },
                  "sampleFile": {
                    "summary": "A sample CSV file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.csv"
                  }
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFile": {
                    "summary": "A sample xlsx file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.xlsx"
                  }
                }
              },
              "application/x-sap-flat-file": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample SAP Flat File",
                    "value": "NOCM;CHF;NOK;20200924;1030.66;100;1\r\nNOCM;CNY;NOK;20200924;139.6;100;1\r\nNOCM;EUR;NOK;20200924;11.1023;1;1\r\nNOCM;USD;NOK;20200924;9.534;1;1\r\n"
                  },
                  "sampleFile": {
                    "summary": "A sample SAP Flat File",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/SampleSap.csv"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/Latest.{format}": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the latest available exchange rates exported into the given file format. (Auth policies: RequireBankSubscription)",
        "operationId": "GetLatestBiweeklyRatesBinary",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "The response format.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the exchange rates.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample XML file",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ExchangeRates xmlns=\"http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates\">\r\n   <BankId>NOCB</BankId>\r\n   <BaseCurrency>NOK</BaseCurrency>\r\n   <QuoteType>Direct</QuoteType>\r\n   <Rates effectiveDate=\"2020-09-24\">\r\n      <Rate currency=\"CHF\" value=\"1030.66\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"CNY\" value=\"139.6\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"EUR\" value=\"11.1023\" />\r\n      <Rate currency=\"USD\" value=\"9.534\" />\r\n   </Rates>\r\n</ExchangeRates>"
                  },
                  "sampleFile": {
                    "summary": "A sample XML file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.xml"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample CSV file",
                    "value": "BankId,From Currency,To Currency,Effective Date,Exchange Rate,Unit\r\nNOCB,CHF,NOK,2020-09-24,1030.66,100\r\nNOCB,CNY,NOK,2020-09-24,139.6,100\r\nNOCB,EUR,NOK,2020-09-24,11.1023,1\r\nNOCB,USD,NOK,2020-09-24,9.534,1\r\n"
                  },
                  "sampleFile": {
                    "summary": "A sample CSV file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.csv"
                  }
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFile": {
                    "summary": "A sample xlsx file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.xlsx"
                  }
                }
              },
              "application/x-sap-flat-file": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample SAP Flat File",
                    "value": "NOCM;CHF;NOK;20200924;1030.66;100;1\r\nNOCM;CNY;NOK;20200924;139.6;100;1\r\nNOCM;EUR;NOK;20200924;11.1023;1;1\r\nNOCM;USD;NOK;20200924;9.534;1;1\r\n"
                  },
                  "sampleFile": {
                    "summary": "A sample SAP Flat File",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/SampleSap.csv"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/{year}/{month}": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the exchange rates for the given month. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBiweeklyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The requested year.",
            "required": true,
            "schema": {
              "minimum": 1900,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "month",
            "in": "path",
            "description": "The requested month.",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the exchange rates.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRatesModel"
                },
                "example": {"bankId":"NOCB","baseCurrency":"NOK","quoteType":"Direct","rates":{"2020-09-24":{"CHF":{"rate":1030.66,"unitMultiplier":2},"CNY":{"rate":139.6,"unitMultiplier":2},"EUR":{"rate":11.1023,"unitMultiplier":null},"USD":{"rate":9.534,"unitMultiplier":null}},"2020-09-25":{"CHF":{"rate":1032.09,"unitMultiplier":2},"CNY":{"rate":140.27,"unitMultiplier":2},"EUR":{"rate":11.1445,"unitMultiplier":null},"USD":{"rate":9.5793,"unitMultiplier":null}}}}
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample XML file",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ExchangeRates xmlns=\"http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates\">\r\n   <BankId>NOCB</BankId>\r\n   <BaseCurrency>NOK</BaseCurrency>\r\n   <QuoteType>Direct</QuoteType>\r\n   <Rates effectiveDate=\"2020-09-24\">\r\n      <Rate currency=\"CHF\" value=\"1030.66\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"CNY\" value=\"139.6\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"EUR\" value=\"11.1023\" />\r\n      <Rate currency=\"USD\" value=\"9.534\" />\r\n   </Rates>\r\n</ExchangeRates>"
                  },
                  "sampleFile": {
                    "summary": "A sample XML file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.xml"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample CSV file",
                    "value": "BankId,From Currency,To Currency,Effective Date,Exchange Rate,Unit\r\nNOCB,CHF,NOK,2020-09-24,1030.66,100\r\nNOCB,CNY,NOK,2020-09-24,139.6,100\r\nNOCB,EUR,NOK,2020-09-24,11.1023,1\r\nNOCB,USD,NOK,2020-09-24,9.534,1\r\n"
                  },
                  "sampleFile": {
                    "summary": "A sample CSV file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.csv"
                  }
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFile": {
                    "summary": "A sample xlsx file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.xlsx"
                  }
                }
              },
              "application/x-sap-flat-file": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample SAP Flat File",
                    "value": "NOCM;CHF;NOK;20200924;1030.66;100;1\r\nNOCM;CNY;NOK;20200924;139.6;100;1\r\nNOCM;EUR;NOK;20200924;11.1023;1;1\r\nNOCM;USD;NOK;20200924;9.534;1;1\r\n"
                  },
                  "sampleFile": {
                    "summary": "A sample SAP Flat File",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/SampleSap.csv"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/{year}/{month}.{format}": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the exchange rates for the given month exported into the given file format. (Auth policies: RequireBankSubscription)",
        "operationId": "GetBiweeklyRatesBinary",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The requested year.",
            "required": true,
            "schema": {
              "minimum": 1900,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "month",
            "in": "path",
            "description": "The requested month.",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "The response format.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the exchange rates.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample XML file",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ExchangeRates xmlns=\"http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates\">\r\n   <BankId>NOCB</BankId>\r\n   <BaseCurrency>NOK</BaseCurrency>\r\n   <QuoteType>Direct</QuoteType>\r\n   <Rates effectiveDate=\"2020-09-24\">\r\n      <Rate currency=\"CHF\" value=\"1030.66\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"CNY\" value=\"139.6\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"EUR\" value=\"11.1023\" />\r\n      <Rate currency=\"USD\" value=\"9.534\" />\r\n   </Rates>\r\n</ExchangeRates>"
                  },
                  "sampleFile": {
                    "summary": "A sample XML file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.xml"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample CSV file",
                    "value": "BankId,From Currency,To Currency,Effective Date,Exchange Rate,Unit\r\nNOCB,CHF,NOK,2020-09-24,1030.66,100\r\nNOCB,CNY,NOK,2020-09-24,139.6,100\r\nNOCB,EUR,NOK,2020-09-24,11.1023,1\r\nNOCB,USD,NOK,2020-09-24,9.534,1\r\n"
                  },
                  "sampleFile": {
                    "summary": "A sample CSV file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.csv"
                  }
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFile": {
                    "summary": "A sample xlsx file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.xlsx"
                  }
                }
              },
              "application/x-sap-flat-file": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample SAP Flat File",
                    "value": "NOCM;CHF;NOK;20200924;1030.66;100;1\r\nNOCM;CNY;NOK;20200924;139.6;100;1\r\nNOCM;EUR;NOK;20200924;11.1023;1;1\r\nNOCM;USD;NOK;20200924;9.534;1;1\r\n"
                  },
                  "sampleFile": {
                    "summary": "A sample SAP Flat File",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/SampleSap.csv"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/ThisMonth": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the exchange rates for the current month (in UTC time). (Auth policies: RequireBankSubscription)",
        "operationId": "GetThisMonthBiweeklyRates",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The response format.",
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the exchange rates.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRatesModel"
                },
                "example": {"bankId":"NOCB","baseCurrency":"NOK","quoteType":"Direct","rates":{"2020-09-24":{"CHF":{"rate":1030.66,"unitMultiplier":2},"CNY":{"rate":139.6,"unitMultiplier":2},"EUR":{"rate":11.1023,"unitMultiplier":null},"USD":{"rate":9.534,"unitMultiplier":null}},"2020-09-25":{"CHF":{"rate":1032.09,"unitMultiplier":2},"CNY":{"rate":140.27,"unitMultiplier":2},"EUR":{"rate":11.1445,"unitMultiplier":null},"USD":{"rate":9.5793,"unitMultiplier":null}}}}
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample XML file",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ExchangeRates xmlns=\"http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates\">\r\n   <BankId>NOCB</BankId>\r\n   <BaseCurrency>NOK</BaseCurrency>\r\n   <QuoteType>Direct</QuoteType>\r\n   <Rates effectiveDate=\"2020-09-24\">\r\n      <Rate currency=\"CHF\" value=\"1030.66\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"CNY\" value=\"139.6\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"EUR\" value=\"11.1023\" />\r\n      <Rate currency=\"USD\" value=\"9.534\" />\r\n   </Rates>\r\n</ExchangeRates>"
                  },
                  "sampleFile": {
                    "summary": "A sample XML file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.xml"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample CSV file",
                    "value": "BankId,From Currency,To Currency,Effective Date,Exchange Rate,Unit\r\nNOCB,CHF,NOK,2020-09-24,1030.66,100\r\nNOCB,CNY,NOK,2020-09-24,139.6,100\r\nNOCB,EUR,NOK,2020-09-24,11.1023,1\r\nNOCB,USD,NOK,2020-09-24,9.534,1\r\n"
                  },
                  "sampleFile": {
                    "summary": "A sample CSV file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.csv"
                  }
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFile": {
                    "summary": "A sample xlsx file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.xlsx"
                  }
                }
              },
              "application/x-sap-flat-file": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample SAP Flat File",
                    "value": "NOCM;CHF;NOK;20200924;1030.66;100;1\r\nNOCM;CNY;NOK;20200924;139.6;100;1\r\nNOCM;EUR;NOK;20200924;11.1023;1;1\r\nNOCM;USD;NOK;20200924;9.534;1;1\r\n"
                  },
                  "sampleFile": {
                    "summary": "A sample SAP Flat File",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/SampleSap.csv"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Banks/{bankId}/BiweeklyRates/ThisMonth.{format}": {
      "get": {
        "tags": [
          "BiweeklyRates"
        ],
        "summary": "Returns the exchange rates for the current month (in UTC time) exported into the given file format. (Auth policies: RequireBankSubscription)",
        "operationId": "GetThisMonthBiweeklyRatesBinary",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "description": "The bank identifier.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BankId"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "The currencies to return. If no currencies are provided, all available currencies will be included in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            }
          },
          {
            "name": "priceType",
            "in": "query",
            "description": "The requested price type. Defaults to mid.",
            "schema": {
              "$ref": "#/components/schemas/PriceType"
            }
          },
          {
            "name": "includeObsoleteCurrencies",
            "in": "query",
            "description": "A flag indicating whether obsolete currencies should be included in the results. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "The response format.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Format"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the exchange rates.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample XML file",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ExchangeRates xmlns=\"http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates\">\r\n   <BankId>NOCB</BankId>\r\n   <BaseCurrency>NOK</BaseCurrency>\r\n   <QuoteType>Direct</QuoteType>\r\n   <Rates effectiveDate=\"2020-09-24\">\r\n      <Rate currency=\"CHF\" value=\"1030.66\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"CNY\" value=\"139.6\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"EUR\" value=\"11.1023\" />\r\n      <Rate currency=\"USD\" value=\"9.534\" />\r\n   </Rates>\r\n</ExchangeRates>"
                  },
                  "sampleFile": {
                    "summary": "A sample XML file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.xml"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample CSV file",
                    "value": "BankId,From Currency,To Currency,Effective Date,Exchange Rate,Unit\r\nNOCB,CHF,NOK,2020-09-24,1030.66,100\r\nNOCB,CNY,NOK,2020-09-24,139.6,100\r\nNOCB,EUR,NOK,2020-09-24,11.1023,1\r\nNOCB,USD,NOK,2020-09-24,9.534,1\r\n"
                  },
                  "sampleFile": {
                    "summary": "A sample CSV file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.csv"
                  }
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFile": {
                    "summary": "A sample xlsx file",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/Sample.xlsx"
                  }
                }
              },
              "application/x-sap-flat-file": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "sampleFileText": {
                    "summary": "The text representation of a sample SAP Flat File",
                    "value": "NOCM;CHF;NOK;20200924;1030.66;100;1\r\nNOCM;CNY;NOK;20200924;139.6;100;1\r\nNOCM;EUR;NOK;20200924;11.1023;1;1\r\nNOCM;USD;NOK;20200924;9.534;1;1\r\n"
                  },
                  "sampleFile": {
                    "summary": "A sample SAP Flat File",
                    "externalValue": "https://developer.fluentax.com/sample-files/v1/SampleSap.csv"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/Convert": {
      "get": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert an amount from one currency to another. (Auth)",
        "operationId": "Convert",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The source currency.",
            "required": true,
            "schema": {
              "maxLength": 3,
              "minLength": 3,
              "type": "string"
            },
            "example": "EUR"
          },
          {
            "name": "to",
            "in": "query",
            "description": "The target currency.",
            "required": true,
            "schema": {
              "maxLength": 3,
              "minLength": 3,
              "type": "string"
            },
            "example": "NOK"
          },
          {
            "name": "amount",
            "in": "query",
            "description": "The amount to be converted.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "decimal"
            },
            "example": 152.47
          },
          {
            "name": "date",
            "in": "query",
            "description": "The conversion date.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2020-09-24"
          },
          {
            "name": "bankId",
            "in": "query",
            "description": "The bank identifier.",
            "schema": {
              "$ref": "#/components/schemas/BankId"
            },
            "example": "NOCB"
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "The exchange rate frequency.",
            "schema": {
              "$ref": "#/components/schemas/Frequency"
            },
            "example": "Daily"
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the conversion result.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                "schema": {
                  "type": "string",
                  "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
                  "format": ""
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of requests left for the current rate-limit window",
                "schema": {
                  "type": "integer",
                  "description": "The number of requests left for the current rate-limit window",
                  "format": "int32"
                }
              },
              "X-Rate-Limit-Reset": {
                "description": "UTC date time (ISO 8601) when the rate limit resets",
                "schema": {
                  "type": "string",
                  "description": "UTC date time (ISO 8601) when the rate limit resets",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyConversionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00","errors":{"bankId":"Daily rates are not supported for the specified bank."}}
              }
            }
          },
          "400": {
            "description": "Invalid bankId specified."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": true
      }
    },
    "/v1/Currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Returns the currency details for all available currencies. (Auth)",
        "operationId": "GetCurrencies",
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "description": "The optional country code to filter the currencies by the specific country.",
            "schema": {
              "$ref": "#/components/schemas/CountryCode"
            }
          },
          {
            "name": "isObsolete",
            "in": "query",
            "description": "The optional flag to filter currencies based on whether they are obsolete (true) or still in circulation (false).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": {
                  "type": "integer",
                  "description": "Indicates how long to wait before making a new request",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Returns the currency details.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The rate limit period that is applicable for the current request (eg. 1m, 12h, 1d)",
[...]
