openapi: 3.0.1
info:
  title: Exchange Rates API
  description: >-
    Exchange Rates API for retrieving daily, weekly, biweekly, and monthly
    currency exchange rates from official sources (central banks, tax
    authorities). Visit our website to find up-to-date information on the
    supported data sources and detailed API features.
  contact:
    name: Fluentax
    url: https://www.fluentax.com/contact-us
    email: hello@fluentax.com
  version: '1.0'
servers:
  - url: https://fx-api.fluentax.com
paths:
  /v1/Banks/{bankId}/BankHolidays/{year}:
    get:
      tags:
        - BankHolidays
      summary: >-
        Returns the bank holidays for the specified bank and year. (Auth
        policies: RequireBankSubscription)
      operationId: GetBankHolidaysForYear
      parameters:
        - name: bankId
          in: path
          description: The bank identifier.
          required: true
          schema:
            $ref: '#/components/schemas/BankId'
        - name: year
          in: path
          description: The year.
          required: true
          schema:
            type: integer
            format: int32
        - name: format
          in: query
          description: The requested format.
          schema:
            $ref: '#/components/schemas/HolidayFormat'
      responses:
        '200':
          description: Returns the bank holidays.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankHolidayModel'
              example:
                - date: '2020-01-01'
                  name: New Year's Day
                  localName: Første nyttårsdag
                - date: '2020-04-09'
                  name: Maundy Thursday
                  localName: Skjærtorsdag
                - date: '2020-04-10'
                  name: Good Friday
                  localName: Langfredag
                - date: '2020-04-12'
                  name: Easter Sunday
                  localName: Første påskedag
                - date: '2020-04-13'
                  name: Easter Monday
                  localName: Andre påskedag
                - date: '2020-05-01'
                  name: Labour Day
                  localName: Første mai
                - date: '2020-05-17'
                  name: Constitution Day
                  localName: Syttende mai
                - date: '2020-05-21'
                  name: Ascension Day
                  localName: Kristi himmelfartsdag
                - date: '2020-05-31'
                  name: Pentecost
                  localName: Første pinsedag
                - date: '2020-06-01'
                  name: Whit Monday
                  localName: Andre pinsedag
                - date: '2020-12-24'
                  name: Christmas Eve
                  localName: Julaften
                - date: '2020-12-25'
                  name: Christmas Day
                  localName: Første juledag
                - date: '2020-12-26'
                  name: St. Stephen's Day
                  localName: Andre juledag
        '400':
          description: Invalid bankId or year specified.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indicates how long to wait before making a new request
              schema:
                type: integer
                description: Indicates how long to wait before making a new request
                format: int32
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: 00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00
                errors:
                  bankId: Daily rates are not supported for the specified bank.
  /v1/Banks/{bankId}/BankHolidays/{year}.{format}:
    get:
      tags:
        - BankHolidays
      summary: >-
        Returns the bank holidays for the specified bank and year exported into
        the given file format. (Auth policies: RequireBankSubscription)
      operationId: GetBankHolidaysForYearBinary
      parameters:
        - name: bankId
          in: path
          description: The bank identifier.
          required: true
          schema:
            $ref: '#/components/schemas/BankId'
        - name: year
          in: path
          description: The year.
          required: true
          schema:
            type: integer
            format: int32
        - name: format
          in: path
          description: The requested format.
          required: true
          schema:
            $ref: '#/components/schemas/HolidayFormat'
      responses:
        '200':
          description: Returns the bank holidays.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankHolidayModel'
              example:
                - date: '2020-01-01'
                  name: New Year's Day
                  localName: Første nyttårsdag
                - date: '2020-04-09'
                  name: Maundy Thursday
                  localName: Skjærtorsdag
                - date: '2020-04-10'
                  name: Good Friday
                  localName: Langfredag
                - date: '2020-04-12'
                  name: Easter Sunday
                  localName: Første påskedag
                - date: '2020-04-13'
                  name: Easter Monday
                  localName: Andre påskedag
                - date: '2020-05-01'
                  name: Labour Day
                  localName: Første mai
                - date: '2020-05-17'
                  name: Constitution Day
                  localName: Syttende mai
                - date: '2020-05-21'
                  name: Ascension Day
                  localName: Kristi himmelfartsdag
                - date: '2020-05-31'
                  name: Pentecost
                  localName: Første pinsedag
                - date: '2020-06-01'
                  name: Whit Monday
                  localName: Andre pinsedag
                - date: '2020-12-24'
                  name: Christmas Eve
                  localName: Julaften
                - date: '2020-12-25'
                  name: Christmas Day
                  localName: Første juledag
                - date: '2020-12-26'
                  name: St. Stephen's Day
                  localName: Andre juledag
        '400':
          description: Invalid bankId or year specified.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indicates how long to wait before making a new request
              schema:
                type: integer
                description: Indicates how long to wait before making a new request
                format: int32
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: 00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00
                errors:
                  bankId: Daily rates are not supported for the specified bank.
  /v1/Banks/{bankId}/BankHolidays:
    get:
      tags:
        - BankHolidays
      summary: >-
        Returns the bank holidays for the specified bank and date range. (Auth
        policies: RequireBankSubscription)
      operationId: GetBankHolidaysBetweenDates
      parameters:
        - name: bankId
          in: path
          description: The bank identifier.
          required: true
          schema:
            $ref: '#/components/schemas/BankId'
        - name: startDate
          in: query
          description: The start date of the range.
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: >-
            The end date of the range. The maximum interval is 3 years (1095
            days).
          required: true
          schema:
            type: string
            format: date
        - name: format
          in: query
          description: The requested format.
          schema:
            $ref: '#/components/schemas/HolidayFormat'
      responses:
        '200':
          description: Returns the bank holidays.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankHolidayModel'
              example:
                - date: '2020-01-01'
                  name: New Year's Day
                  localName: Første nyttårsdag
                - date: '2020-04-09'
                  name: Maundy Thursday
                  localName: Skjærtorsdag
                - date: '2020-04-10'
                  name: Good Friday
                  localName: Langfredag
                - date: '2020-04-12'
                  name: Easter Sunday
                  localName: Første påskedag
                - date: '2020-04-13'
                  name: Easter Monday
                  localName: Andre påskedag
                - date: '2020-05-01'
                  name: Labour Day
                  localName: Første mai
                - date: '2020-05-17'
                  name: Constitution Day
                  localName: Syttende mai
                - date: '2020-05-21'
                  name: Ascension Day
                  localName: Kristi himmelfartsdag
                - date: '2020-05-31'
                  name: Pentecost
                  localName: Første pinsedag
                - date: '2020-06-01'
                  name: Whit Monday
                  localName: Andre pinsedag
                - date: '2020-12-24'
                  name: Christmas Eve
                  localName: Julaften
                - date: '2020-12-25'
                  name: Christmas Day
                  localName: Første juledag
                - date: '2020-12-26'
                  name: St. Stephen's Day
                  localName: Andre juledag
        '400':
          description: Invalid bankId or data range specified.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indicates how long to wait before making a new request
              schema:
                type: integer
                description: Indicates how long to wait before making a new request
                format: int32
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: 00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00
                errors:
                  bankId: Daily rates are not supported for the specified bank.
  /v1/Banks/{bankId}/BankHolidays.{format}:
    get:
      tags:
        - BankHolidays
      summary: >-
        Returns the bank holidays for the specified bank and date range exported
        into the given file format. (Auth policies: RequireBankSubscription)
      operationId: GetBankHolidaysBetweenDatesBinary
      parameters:
        - name: bankId
          in: path
          description: The bank identifier.
          required: true
          schema:
            $ref: '#/components/schemas/BankId'
        - name: startDate
          in: query
          description: The start date of the range.
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: >-
            The end date of the range. The maximum interval is 3 years (1095
            days).
          required: true
          schema:
            type: string
            format: date
        - name: format
          in: path
          description: The requested format.
          required: true
          schema:
            $ref: '#/components/schemas/HolidayFormat'
      responses:
        '200':
          description: Returns the bank holidays.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid bankId or data range specified.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indicates how long to wait before making a new request
              schema:
                type: integer
                description: Indicates how long to wait before making a new request
                format: int32
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: 00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00
                errors:
                  bankId: Daily rates are not supported for the specified bank.
  /v1/Banks/{bankId}/BankHolidays/Next:
    get:
      tags:
        - BankHolidays
      summary: >-
        Returns the next upcoming bank holiday for the specified bank. (Auth
        policies: RequireBankSubscription)
      operationId: GetNextBankHoliday
      parameters:
        - name: bankId
          in: path
          description: The bank identifier.
          required: true
          schema:
            $ref: '#/components/schemas/BankId'
      responses:
        '200':
          description: Returns the bank holiday.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankHolidayModel'
        '204':
          description: The bank holidays are not available for the given bank.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
        '400':
          description: Invalid bankId specified.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indicates how long to wait before making a new request
              schema:
                type: integer
                description: Indicates how long to wait before making a new request
                format: int32
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: 00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00
                errors:
                  bankId: Daily rates are not supported for the specified bank.
  /v1/Banks:
    get:
      tags:
        - Banks
      summary: Returns the bank details for all available banks. (Auth)
      operationId: GetBanks
      responses:
        '200':
          description: Returns the bank details.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankModel'
              example:
                - id: NOCB
                  name:
                    - languageCode: en
                      name: Norges Bank
                      abbreviatedName: Norgesbank
                    - languageCode: 'no'
                      name: Norges Bank
                      abbreviatedName: Norgesbank
                  publishedDays: null
                  dailyUpdateTime: '16:00:00'
                  bankCurrency: NOK
                  countryCode:
                    - 'NO'
                  region:
                    - EuropeNonEU
                  timeZone:
                    windowsTimeZoneId: W. Europe Standard Time
                    ianaTimeZoneName: Europe/Oslo
                  supportedFrequencies:
                    - Daily
                  supportedPriceTypes:
                    - Mid
                  website: https://www.norges-bank.no
                  peggedRate: null
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indicates how long to wait before making a new request
              schema:
                type: integer
                description: Indicates how long to wait before making a new request
                format: int32
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: 00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00
                errors:
                  bankId: Daily rates are not supported for the specified bank.
  /v1/Banks/{bankId}:
    get:
      tags:
        - Banks
      summary: Returns the bank details for the specified bank. (Auth)
      operationId: GetBank
      parameters:
        - name: bankId
          in: path
          description: The bank identifier.
          required: true
          schema:
            $ref: '#/components/schemas/BankId'
      responses:
        '200':
          description: Returns the bank details.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankModel'
              example:
                id: NOCB
                name:
                  - languageCode: en
                    name: Norges Bank
                    abbreviatedName: Norgesbank
                  - languageCode: 'no'
                    name: Norges Bank
                    abbreviatedName: Norgesbank
                publishedDays: null
                dailyUpdateTime: '16:00:00'
                bankCurrency: NOK
                countryCode:
                  - 'NO'
                region:
                  - EuropeNonEU
                timeZone:
                  windowsTimeZoneId: W. Europe Standard Time
                  ianaTimeZoneName: Europe/Oslo
                supportedFrequencies:
                  - Daily
                supportedPriceTypes:
                  - Mid
                website: https://www.norges-bank.no
                peggedRate: null
        '400':
          description: Invalid bankId specified.
        '401':
          description: Unauthorized
        '403':
          description: You don't have an active subscription for the specified bank.
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indicates how long to wait before making a new request
              schema:
                type: integer
                description: Indicates how long to wait before making a new request
                format: int32
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: 00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00
                errors:
                  bankId: Daily rates are not supported for the specified bank.
  /v1/Banks/{bankId}/BiweeklyRates/Availability:
    get:
      tags:
        - BiweeklyRates
      summary: >-
        Returns the data availability information. (Auth policies:
        RequireBankSubscription)
      operationId: GetBiweeklyRatesAvailability
      parameters:
        - name: bankId
          in: path
          description: The bank identifier.
          required: true
          schema:
            $ref: '#/components/schemas/BankId'
      responses:
        '200':
          description: Returns the data availability information.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankDataAvailabilityModel'
        '204':
          description: The data availability information is not available.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indicates how long to wait before making a new request
              schema:
                type: integer
                description: Indicates how long to wait before making a new request
                format: int32
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: 00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00
                errors:
                  bankId: Daily rates are not supported for the specified bank.
  /v1/Banks/{bankId}/BiweeklyRates/Availability/{startDate}/{endDate}:
    get:
      tags:
        - BiweeklyRates
      summary: >-
        Returns the data availability information for the specified period.
        (Auth policies: RequireBankSubscription)
      operationId: GetBiweeklyRatesAvailabilityBetweenDates
      parameters:
        - name: bankId
          in: path
          description: The bank identifier.
          required: true
          schema:
            $ref: '#/components/schemas/BankId'
        - name: startDate
          in: path
          description: The start date.
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: path
          description: The end date.
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Returns the data availability information.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: date-time
        '204':
          description: The data availability information is not available.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indicates how long to wait before making a new request
              schema:
                type: integer
                description: Indicates how long to wait before making a new request
                format: int32
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: 00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00
                errors:
                  bankId: Daily rates are not supported for the specified bank.
  /v1/Banks/{bankId}/BiweeklyRates/Latest:
    get:
      tags:
        - BiweeklyRates
      summary: >-
        Returns the latest available exchange rates. (Auth policies:
        RequireBankSubscription)
      operationId: GetLatestBiweeklyRates
      parameters:
        - name: bankId
          in: path
          description: The bank identifier.
          required: true
          schema:
            $ref: '#/components/schemas/BankId'
        - name: currencies
          in: query
          description: >-
            The currencies to return. If no currencies are provided, all
            available currencies will be included in the results.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/CurrencyCode'
        - name: priceType
          in: query
          description: The requested price type. Defaults to mid.
          schema:
            $ref: '#/components/schemas/PriceType'
        - name: includeObsoleteCurrencies
          in: query
          description: >-
            A flag indicating whether obsolete currencies should be included in
            the results. Defaults to false.
          schema:
            type: boolean
        - name: format
          in: query
          description: The response format.
          schema:
            $ref: '#/components/schemas/Format'
      responses:
        '200':
          description: Returns the exchange rates.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRatesModel'
              example:
                bankId: NOCB
                baseCurrency: NOK
                quoteType: Direct
                rates:
                  '2020-09-24':
                    CHF:
                      rate: 1030.66
                      unitMultiplier: 2
                    CNY:
                      rate: 139.6
                      unitMultiplier: 2
                    EUR:
                      rate: 11.1023
                      unitMultiplier: null
                    USD:
                      rate: 9.534
                      unitMultiplier: null
                  '2020-09-25':
                    CHF:
                      rate: 1032.09
                      unitMultiplier: 2
                    CNY:
                      rate: 140.27
                      unitMultiplier: 2
                    EUR:
                      rate: 11.1445
                      unitMultiplier: null
                    USD:
                      rate: 9.5793
                      unitMultiplier: null
            application/xml:
              schema:
                type: string
              examples:
                sampleFileText:
                  summary: The text representation of a sample XML file
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ExchangeRates xmlns=\"http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates\">\r\n   <BankId>NOCB</BankId>\r\n   <BaseCurrency>NOK</BaseCurrency>\r\n   <QuoteType>Direct</QuoteType>\r\n   <Rates effectiveDate=\"2020-09-24\">\r\n      <Rate currency=\"CHF\" value=\"1030.66\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"CNY\" value=\"139.6\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"EUR\" value=\"11.1023\" />\r\n      <Rate currency=\"USD\" value=\"9.534\" />\r\n   </Rates>\r\n</ExchangeRates>"
                sampleFile:
                  summary: A sample XML file
                  value: >-
                    <?xml version="1.0" encoding="utf-8"?><ExchangeRates
                    xmlns="http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates"><BankId>NOCB</BankId><BaseCurrency>NOK</BaseCurrency><QuoteType>Direct</QuoteType><Rates
                    effectiveDate="2020-09-24"><Rate currency="CHF"
                    value="1030.66" unitMultiplier="2" /><Rate currency="CNY"
                    value="139.6" unitMultiplier="2" /><Rate currency="EUR"
                    value="11.1023" /><Rate currency="USD" value="9.534"
                    /></Rates></ExchangeRates>
            text/csv:
              schema:
                type: string
              examples:
                sampleFileText:
                  summary: The text representation of a sample CSV file
                  value: "BankId,From Currency,To Currency,Effective Date,Exchange Rate,Unit\r\nNOCB,CHF,NOK,2020-09-24,1030.66,100\r\nNOCB,CNY,NOK,2020-09-24,139.6,100\r\nNOCB,EUR,NOK,2020-09-24,11.1023,1\r\nNOCB,USD,NOK,2020-09-24,9.534,1\r\n"
                sampleFile:
                  summary: A sample CSV file
                  value: >
                    BankId,From Currency,To Currency,Effective Date,Exchange
                    Rate,Unit

                    NOCB,CHF,NOK,2020-09-24,1030.66,100

                    NOCB,CNY,NOK,2020-09-24,139.6,100

                    NOCB,EUR,NOK,2020-09-24,11.1023,1

                    NOCB,USD,NOK,2020-09-24,9.534,1
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
              examples:
                sampleFile:
                  summary: A sample xlsx file
                  value: "PK\x03\x04\x14\0\0\b\b\0�kX\n�Ǫ9\x01\0\0:\x02\0\0\x0F\0\0\0xl/workbook.xml���k�0\x10����(�4�\x05�Qle �/cL�\x1E%&W\ȅ�D���%���O���}��\\�VIrF��\x05L�\x13 ���B\x1F\n8���\r\x16��/�\x1E��\x1CI��.�\x05��7y�:V��nl\x1AԡV\x19��\x0F�=���\x04åa'�ڧ�d�Z��\a-W�����>Bs�E�]����)*4\f�}Z\x12��\aUX��\x16��Z\0�ƾ\x18~\v���P� ���o\"���\x03ʼ8��,̦wÝ�[Dt'��B��/�1��+�y\x01\x19\x10��\x10�5�z�\r��\x12\x1Ay4}�_��Vj5ޭ��h���=u\bD\x1AF�W\t>k�9�o�r4�2zJޓi���YT\x1E�˻��\x0FP\x16\x17\x19�ȝf��l���V�\x01PK\x03\x04\x14\0\0\b\b\0�kX\x17<�m[\x01\0\0F\x03\0\0\x10\0\0\0docProps/app.xml��QO�0\x14����;l 1f�J����.B��\\�;h�ڦ�,௷\e\b\x13�\x18�z��v{N�%�uU\x065Z'�J٠\x1F�\0�йT�����]�1O�ę�\x06-It��D����-�L\x1C�N,�\x02�����B�\nȗv\x11ꢐ\x02�Z�*T\x14\x0E��*̵h����Ơc�y`�;\x0Fׄ*Ǽg�\x1EY�ybL)\x05���殺�邂۵�2\t��\r?�T�{,2��xRS\\� m�7pؘMYi\x1CY\x168��K�B�Ƨ �M�\x04�.\t����Ef��׉E�#�uօý;�f9��;��\x1A3��L�\x1A�\x04E_qF�8;���E�w�D��\x0E:lw-G|�\x02~�+���\0\x15�>�Z�\by~���-����Ax�?�\x19�����Q�t���\t(��?'^@�e\x0EZ[\x1E~\b�\tPK\x03\x04\x14\0\0\b\b\0�kX��\r��\0\0\0�\x01\0\0\x14\0\0\0xl/sharedStrings.xml��M\v�0\f��J�];=��m¦�\b\n~\x1C<�-ۊ6\x1Dm����\x14\x0F\x1E����y\x12^h4k����:e0�a�\x19`n\n�U�oT\x0E�|�Dm�\x1C�NE\x17�1���P\b�נ�\e�\x06�c��ZR7�J�Ƃ,\\\r@�*�A0\x11Z*�S����\x12/�\"\x12}�����.��,�Y��y�����,�\x12rRw`sI�ڼ�X\x01���N��Ƕ�,��l���m�[۳7�i��x�\x7F#����\tPK\x03\x04\x14\0\0\b\b\0�kX롅\x1CV\x02\0\0�\b\0\0\r\0\0\0xl/styles.xml�Vmk�0\x10�+B�S�a+#�-[G��vcMa_e�lkՋ����\x1C'���\x18����w��Gw:�$_\\���-hÔ�qv6�\bd�*&�\x1Col={��./���\x03��\x16�\"��f�縵�[\x12b�\x16\x045g�\x03��J\vj��\eb:\r�2^&8Y���DP&�\x1FQn�JX�J��6ǋ=\x10��M�c�O\x1C�ZU�c��Oi���C�����ݬ�����yy��\x148�#�߮\x14�=g�D[�s\\P\x03�IHq�K��,\x01��J#�\x149^���\x19S�\x02\"��rVh��\nƇ�e1�\x16�'#��8?������ւ�+�d����Y��(�ȿ\x155�\x0E����.\x19!�B����a�\"�*F\e%)\x7F��J��G�,=��\x1Cj�B��\x04\x7FU6\x12���YӞ$\f\x02ϱ�;E��qF�*q�0*<i��)�Q�����3C�K������>j��>�\"rg�uKf\x1C*9���p�\x11\x05�U�'~)#�b�>\x04դ\t�A��\x13|��Bi�\x11\x12�v\b�|�*�[VU\x10:!M��\x7F�>��\x7F'\x7Fr�0�B��5��W�,\x1DI�U�����aԀ\x04M9���ee8�B�cd��_��q\x10\x17�Y�n���0Y�����\x1Di\v7\x13�mc,��[j�;H\x03fZ���Z��(������\vy���_�?�7����9utI�p�/�\x1C����\x17\e�-��#�{�\x04w���\x0EPK\x03\x04\x14\0\0\b\b\0�kX��h0\"\x03\0\0�\n\0\0\x18\0\0\0xl/worksheets/sheet1.xml���r�0\x10�_�ᾜ����I�xڙv�I:͵\x02��DH�$b��֋>R_���\x0F�rJ�̊ߟv\x7F\x01�\x7F~����V�y�B\x12�fn�\x05��Y�\v��3�Q�Ocב\n�\x02Q���}�ҽ�_l�\e.^d��r���T��R�z��2/q���k��ފ�\n)\b���\x15��\rϛ\n3�GA��\x02S�`wY�Z�\x1Dm;�&k�Q�����U�0�MO�ދ��7�\x12��#��B��\x1AS��b���\x03Y�J/��\v���@��9����{\x15N���u�\x1F\x04od/rZg�9\x7Fi�/��\rz��\x1F��\x1CH��+�P��7�q��n��S��:\x15a:�\nm��\x14���\x13/�F�L��\e�zϼ��WOF\x10\x1EX�\x11u�h�\b�\x0FC�\x0E\x12\x1F �7N�d\x1C\r�$\x1D$9@R/��I\x18�!�� i\aI��\t�I8Ɇg�u�l\x0FɆU�\x1F\x0EI��\rR�\r\x04�8�<h5b\x12���~:�v��]�H8m��_�A\v{5Ƚ�ڦ\fmʅM\x19ٔ7F\x19���Mykc&6�ҦL{J_�rdNtƜȂʬ�ؔ#�96��jNԙ�\x15�\x04\x13��vG�$�\x03/�f�<U\x06��\x12��%\x1El�M9��bS�m�\a�\x12���'�ݔ�c�$gLI\x06�bS��wna��]I\x06����\r�0��o��D��+�\x19W���ؔ���b��]I\a���j�N\x16ۿ-�\0O��\x0F0j\x14_\x12����}ׂ0uW���)� ?9S�.`0�\x02��\r��\"��b\tC\a�GƆ� �W�.��\x03\x18��7$�\x04�\x14����\e����u\x13(^�.�����F��c�\x05+Ε\tF�\x11�\x11��vjTc�H~��(!��*�,Z͝И�o��\x12�;��u�H(DO[p�L\x1C�?E��\x15+�J�L�+\x04�iC�Ô.x�NkP!�\x11\x10�C!��� ���\r\x17]j&���٬(�L�=\x12J:9o�:������/PK\x03\x04\x14\0\0\b\b\0�kX`L���\x05\0\0�\e\0\0\x13\0\0\0xl/theme/theme1.xml�YM��D\x18�+#�[�I�fWM�M6i��v�\e�z�8\x13{��ǚ��67�\x1E��\x10\x05qA��\x01\x01�Z�K�5\vEP��\x05^;�=N��l�\bP7��3~��\x0F��\\��0d�\bIyԱ��5\v���c\x1A�\x1Dk�&����kW�\nHH\x10�#��;V�T�m�҃m,/�Dpo�E�\x15,�o�\x05>\x06&!��Z�\x0E1�,\x14�t���\t�\b\x1A&,��y��W�d��1q�\x12u�\x14;�:ɏ��\x1E\x13�\b��\x05r��xH\x1E*\v1,\x15��X��c!��U;�b��X#\x1C��%aF1��SB�rJg�ܺ�[H�/$�\x03��~��\x14\x1CS\x04�<��Y\x037\am��s�P��u[k�\x10h\x12\x1Ak\x04[�n��*\x134\n��\x1AA��j���\x04͂�]������\x04nA�Z#\x18\\�j5W\bRT�h4]�'�-B�c&��4�ۀo�P�l-�\x16\f\"U�w!~��\0\0i���\x11R�L�\a�\x1E\x0EG��T\x02�&X���yr}/\x11��'h�:և1�\x02)0�_����3���ӓG�O\x1E�|���ɣ�L�7q�딯����o>A\x7F>��Փ/+\b�N�ۏ����\x17\x15H�#_~����O_~��\x1F�?1�w\x04\x1E��!\r�Dw�1:�ab�A\x04\x19�3�\f\x03LK$8\0�\t�WA\tyg��\x11�%e\x1F�\x13�\x16��\e�\a%}\x0F\x031SԄ�\x15�%�\x1E�˅٦[�8ͦY�W�\x173\x1Dx��Q|o%��Y\f�M�L{\x01)��� ��'\x11Q(�ǧ����SZ��\x1E�\x04�|��}����\x1D3�#e��IC\b�ܨ#D�䡽{�˙Q�.9*C�B032%���\ex�ph�\x1A�L���*0*z8\x17^��RA�}�8ꏉ�F��b^R�\x16�\x16e΀=6\x0F�P���\b��9ס�|�\vp\x18���Q��?�S�X���2���5��! 8���=J�\x19��#�\a�dI��Ĳ���sH�75kF�[_4�f�\x03O0c����J���1��Y�O����\x17}��/���7��E\x03���:e\x18V\x0E�\x13�ء�3r[��[���\x01l���(\x1F��\0.��J@_��\x1A\t�>�*8\fp\fr�T�/3޾D1�p��*��gS\n�{n~�\x048V{|��o�N�9�t�K]T#a���ƕw\x15�,�\e�s�\ny��ٚO�6\x10N�\x1C8�z���0#���\x19�et�=R2�c���1��46�]�t�i�\x1A�*o�X�\x02�U\x02��\bVm=X�zu���BǠ�[w-��cM`���0\x06�2iI��Q��Tfͩ��jsE�:�j�KBb!�.���,�����\n\x13�n3aw>6��ӆz4�ο���\x1Aa2�\x10OU�\x14��\x1E�)\"\x0E��1\x1A��8��ys�ec*�QR_.\x04�k3K�r\x1F��a��OV'��\x01�zT[π\x05>�ΕHW�~v��oiK�\x1Cmq�g[���1N�a0\x1F\b��<�X\\��C?�\x03�\r\x04L\x14�0P\fAm�-�%��\x13eɑ��\x16L\x16\r�\x0F�\x01�����T \b�W���ps�\x1D2+��S�qr�e��\x1D�#\x86I\x11�\x12\x17X(��J�\x14�\x1A8�Tc#\x7F�_���US�)cC!�y�)��?\x04�g�ֻjq�\ap��캻�\x038��\nJ���S�b\x06\x1E�\x03�\x02T\f�����Y)�#к�ۗ��gg�\"\x10�����x�y�Q��S\x04���]���S�m�\x17��\x1Dy����]|�\0��\x99jƔ��K=��io��\x040�d����\x06PK\x03\x04\x14\0\0\b\0\0�kX~�l:�\x01\0\0�\x01\0\0Q\0\0\0package/services/metadata/core-properties/8eee44ff7231420cba3e8ad70ef6ed4e.psmdcp\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><coreProperties xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:dcterms=\"http://purl.org/dc/terms/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.openxmlformats.org/package/2006/metadata/core-properties\"><dcterms:created xsi:type=\"dcterms:W3CDTF\">2024-03-11T20:47:30.7558222Z</dcterms:created><dcterms:modified xsi:type=\"dcterms:W3CDTF\">2024-03-11T20:47:30.7558231Z</dcterms:modified></coreProperties>PK\x03\x04\x14\0\0\b\0\0�kX.�'��\x02\0\0�\x02\0\0\v\0\0\0_rels/.rels\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Relationships xmlns=\"http://schemas.openxmlformats.org/package/2006/relationships\"><Relationship Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/officeDocument\" Target=\"/xl/workbook.xml\" Id=\"Rc20f29ad9c1d4c48\" /><Relationship Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/extended-properties\" Target=\"/docProps/app.xml\" Id=\"rId1\" /><Relationship Type=\"http://schemas.openxmlformats.org/package/2006/relationships/metadata/core-properties\" Target=\"/package/services/metadata/core-properties/8eee44ff7231420cba3e8ad70ef6ed4e.psmdcp\" Id=\"R3c2103ef1d1f45b1\" /></Relationships>PK\x03\x04\x14\0\0\b\b\0�kX\f�H��\0\0\0�\x02\0\0\x1A\0\0\0xl/_rels/workbook.xml.rels��AN�0\x10E�b͞LZP�P�n���\x02�3��&����l,8\x12W�\x04\taĂM6����������z{\x1D\a�B���5,�\x1A\x14y\e��w\x1A���=�v�>�`$�`�GV�ų\x06'\x12�\x10�:\x1A\rW!�ϕ6��H>�\x0E��'�\x11.�z��'\x03J�:�\"��\x18ڶ��\v�<��?���$j�%�\t\x18�Ѥ�D\x03^��Te2�}�!�{P8���\x06��2e��Ü\x0E��N숤���?�-o��h9���^*m��k-EV�\b\x16�p�\x01PK\x03\x04\x14\0\0\b\b\0�kXZ;R@;\x01\0\07\x04\0\0\x13\0\0\0[Content_Types].xml���N\x021\x10�_eӫ�-x0ưpP�J�/д�lC��\x19\x10�̓��+8\x14��\x10���M;3�߿���\x1F��ʻj\t\x19m\f�\x186\x03QA���0kł��VLƣ�u\x02�85`+z�t'%�\x1E��&&\b\x1C�b��x�g2)=W3�׃���1\x10\x04�i�!ƣ\a���Q����-��Eu��۠Z�RrV+�\\\x06�\a�c�Y\r&��\x06S\x06e�\a ��7^�pU��AfBot�\x1F�{]��\x19�9��\x02�����4\bW�\x1C�m�A<�Yek���LOʳ��}��\x19��ܜ����n�\x1CZ�!��I�U\x06�B�/\r�m`�0\x7Fi\x1F5Bk\a\x17wPD���b��\n��\e^��N��\x11�W\t��|\x0FEfG��\e\x18\x7F\x01PK\x01\x02\x14\x03\x14\0\0\b\b\0�kX\n�Ǫ9\x01\0\0:\x02\0\0\x0F\0\0\0\0\0\0\0\0\0\0\0��\0\0\0\0xl/workbook.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX\x17<�m[\x01\0\0F\x03\0\0\x10\0\0\0\0\0\0\0\0\0\0\0��f\x01\0\0docProps/app.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX��\r��\0\0\0�\x01\0\0\x14\0\0\0\0\0\0\0\0\0\0\0���\x02\0\0xl/sharedStrings.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX롅\x1CV\x02\0\0�\b\0\0\r\0\0\0\0\0\0\0\0\0\0\0���\x03\0\0xl/styles.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX��h0\"\x03\0\0�\n\0\0\x18\0\0\0\0\0\0\0\0\0\0\0��l\x06\0\0xl/worksheets/sheet1.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX`L���\x05\0\0�\e\0\0\x13\0\0\0\0\0\0\0\0\0\0\0���\t\0\0xl/theme/theme1.xmlPK\x01\x02\x14\x03\x14\0\0\b\0\0�kX~�l:�\x01\0\0�\x01\0\0Q\0\0\0\0\0\0\0\0\0\0\0���\x0F\0\0package/services/metadata/core-properties/8eee44ff7231420cba3e8ad70ef6ed4e.psmdcpPK\x01\x02\x14\x03\x14\0\0\b\0\0�kX.�'��\x02\0\0�\x02\0\0\v\0\0\0\0\0\0\0\0\0\0\0���\x11\0\0_rels/.relsPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX\f�H��\0\0\0�\x02\0\0\x1A\0\0\0\0\0\0\0\0\0\0\0���\x14\0\0xl/_rels/workbook.xml.relsPK\x01\x02\x14\x03\x14\0\0\b\b\0�kXZ;R@;\x01\0\07\x04\0\0\x13\0\0\0\0\0\0\0\0\0\0\0���\x15\0\0[Content_Types].xmlPK\x05\x06\0\0\0\0\n\0\n\0�\x02\0\00\x17\0\0\0\0"
            application/x-sap-flat-file:
              schema:
                type: string
              examples:
                sampleFileText:
                  summary: The text representation of a sample SAP Flat File
                  value: "NOCM;CHF;NOK;20200924;1030.66;100;1\r\nNOCM;CNY;NOK;20200924;139.6;100;1\r\nNOCM;EUR;NOK;20200924;11.1023;1;1\r\nNOCM;USD;NOK;20200924;9.534;1;1\r\n"
                sampleFile:
                  summary: A sample SAP Flat File
                  value: |
                    NOCB;CHF;NOK;20200924;1030.66;100;1
                    NOCB;CNY;NOK;20200924;139.6;100;1
                    NOCB;EUR;NOK;20200924;11.1023;1;1
                    NOCB;USD;NOK;20200924;9.534;1;1
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indicates how long to wait before making a new request
              schema:
                type: integer
                description: Indicates how long to wait before making a new request
                format: int32
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: 00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00
                errors:
                  bankId: Daily rates are not supported for the specified bank.
  /v1/Banks/{bankId}/BiweeklyRates/Latest.{format}:
    get:
      tags:
        - BiweeklyRates
      summary: >-
        Returns the latest available exchange rates exported into the given file
        format. (Auth policies: RequireBankSubscription)
      operationId: GetLatestBiweeklyRatesBinary
      parameters:
        - name: bankId
          in: path
          description: The bank identifier.
          required: true
          schema:
            $ref: '#/components/schemas/BankId'
        - name: currencies
          in: query
          description: >-
            The currencies to return. If no currencies are provided, all
            available currencies will be included in the results.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/CurrencyCode'
        - name: priceType
          in: query
          description: The requested price type. Defaults to mid.
          schema:
            $ref: '#/components/schemas/PriceType'
        - name: includeObsoleteCurrencies
          in: query
          description: >-
            A flag indicating whether obsolete currencies should be included in
            the results. Defaults to false.
          schema:
            type: boolean
        - name: format
          in: path
          description: The response format.
          required: true
          schema:
            $ref: '#/components/schemas/Format'
      responses:
        '200':
          description: Returns the exchange rates.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                type: string
                format: binary
            application/xml:
              schema:
                type: string
                format: binary
              examples:
                sampleFileText:
                  summary: The text representation of a sample XML file
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ExchangeRates xmlns=\"http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates\">\r\n   <BankId>NOCB</BankId>\r\n   <BaseCurrency>NOK</BaseCurrency>\r\n   <QuoteType>Direct</QuoteType>\r\n   <Rates effectiveDate=\"2020-09-24\">\r\n      <Rate currency=\"CHF\" value=\"1030.66\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"CNY\" value=\"139.6\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"EUR\" value=\"11.1023\" />\r\n      <Rate currency=\"USD\" value=\"9.534\" />\r\n   </Rates>\r\n</ExchangeRates>"
                sampleFile:
                  summary: A sample XML file
                  value: >-
                    <?xml version="1.0" encoding="utf-8"?><ExchangeRates
                    xmlns="http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates"><BankId>NOCB</BankId><BaseCurrency>NOK</BaseCurrency><QuoteType>Direct</QuoteType><Rates
                    effectiveDate="2020-09-24"><Rate currency="CHF"
                    value="1030.66" unitMultiplier="2" /><Rate currency="CNY"
                    value="139.6" unitMultiplier="2" /><Rate currency="EUR"
                    value="11.1023" /><Rate currency="USD" value="9.534"
                    /></Rates></ExchangeRates>
            text/csv:
              schema:
                type: string
                format: binary
              examples:
                sampleFileText:
                  summary: The text representation of a sample CSV file
                  value: "BankId,From Currency,To Currency,Effective Date,Exchange Rate,Unit\r\nNOCB,CHF,NOK,2020-09-24,1030.66,100\r\nNOCB,CNY,NOK,2020-09-24,139.6,100\r\nNOCB,EUR,NOK,2020-09-24,11.1023,1\r\nNOCB,USD,NOK,2020-09-24,9.534,1\r\n"
                sampleFile:
                  summary: A sample CSV file
                  value: >
                    BankId,From Currency,To Currency,Effective Date,Exchange
                    Rate,Unit

                    NOCB,CHF,NOK,2020-09-24,1030.66,100

                    NOCB,CNY,NOK,2020-09-24,139.6,100

                    NOCB,EUR,NOK,2020-09-24,11.1023,1

                    NOCB,USD,NOK,2020-09-24,9.534,1
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
              examples:
                sampleFile:
                  summary: A sample xlsx file
                  value: "PK\x03\x04\x14\0\0\b\b\0�kX\n�Ǫ9\x01\0\0:\x02\0\0\x0F\0\0\0xl/workbook.xml���k�0\x10����(�4�\x05�Qle �/cL�\x1E%&W\ȅ�D���%���O���}��\\�VIrF��\x05L�\x13 ���B\x1F\n8���\r\x16��/�\x1E��\x1CI��.�\x05��7y�:V��nl\x1AԡV\x19��\x0F�=���\x04åa'�ڧ�d�Z��\a-W�����>Bs�E�]����)*4\f�}Z\x12��\aUX��\x16��Z\0�ƾ\x18~\v���P� ���o\"���\x03ʼ8��,̦wÝ�[Dt'��B��/�1��+�y\x01\x19\x10��\x10�5�z�\r��\x12\x1Ay4}�_��Vj5ޭ��h���=u\bD\x1AF�W\t>k�9�o�r4�2zJޓi���YT\x1E�˻��\x0FP\x16\x17\x19�ȝf��l���V�\x01PK\x03\x04\x14\0\0\b\b\0�kX\x17<�m[\x01\0\0F\x03\0\0\x10\0\0\0docProps/app.xml��QO�0\x14����;l 1f�J����.B��\\�;h�ڦ�,௷\e\b\x13�\x18�z��v{N�%�uU\x065Z'�J٠\x1F�\0�йT�����]�1O�ę�\x06-It��D����-�L\x1C�N,�\x02�����B�\nȗv\x11ꢐ\x02�Z�*T\x14\x0E��*̵h����Ơc�y`�;\x0Fׄ*Ǽg�\x1EY�ybL)\x05���殺�邂۵�2\t��\r?�T�{,2��xRS\\� m�7pؘMYi\x1CY\x168��K�B�Ƨ �M�\x04�.\t����Ef��׉E�#�uօý;�f9��;��\x1A3��L�\x1A�\x04E_qF�8;���E�w�D��\x0E:lw-G|�\x02~�+���\0\x15�>�Z�\by~���-����Ax�?�\x19�����Q�t���\t(��?'^@�e\x0EZ[\x1E~\b�\tPK\x03\x04\x14\0\0\b\b\0�kX��\r��\0\0\0�\x01\0\0\x14\0\0\0xl/sharedStrings.xml��M\v�0\f��J�];=��m¦�\b\n~\x1C<�-ۊ6\x1Dm����\x14\x0F\x1E����y\x12^h4k����:e0�a�\x19`n\n�U�oT\x0E�|�Dm�\x1C�NE\x17�1���P\b�נ�\e�\x06�c��ZR7�J�Ƃ,\\\r@�*�A0\x11Z*�S����\x12/�\"\x12}�����.��,�Y��y�����,�\x12rRw`sI�ڼ�X\x01���N��Ƕ�,��l���m�[۳7�i��x�\x7F#����\tPK\x03\x04\x14\0\0\b\b\0�kX롅\x1CV\x02\0\0�\b\0\0\r\0\0\0xl/styles.xml�Vmk�0\x10�+B�S�a+#�-[G��vcMa_e�lkՋ����\x1C'���\x18����w��Gw:�$_\\���-hÔ�qv6�\bd�*&�\x1Col={��./���\x03��\x16�\"��f�縵�[\x12b�\x16\x045g�\x03��J\vj��\eb:\r�2^&8Y���DP&�\x1FQn�JX�J��6ǋ=\x10��M�c�O\x1C�ZU�c��Oi���C�����ݬ�����yy��\x148�#�߮\x14�=g�D[�s\\P\x03�IHq�K��,\x01��J#�\x149^���\x19S�\x02\"��rVh��\nƇ�e1�\x16�'#��8?������ւ�+�d����Y��(�ȿ\x155�\x0E����.\x19!�B����a�\"�*F\e%)\x7F��J��G�,=��\x1Cj�B��\x04\x7FU6\x12���YӞ$\f\x02ϱ�;E��qF�*q�0*<i��)�Q�����3C�K������>j��>�\"rg�uKf\x1C*9���p�\x11\x05�U�'~)#�b�>\x04դ\t�A��\x13|��Bi�\x11\x12�v\b�|�*�[VU\x10:!M��\x7F�>��\x7F'\x7Fr�0�B��5��W�,\x1DI�U�����aԀ\x04M9���ee8�B�cd��_��q\x10\x17�Y�n���0Y�����\x1Di\v7\x13�mc,��[j�;H\x03fZ���Z��(������\vy���_�?�7����9utI�p�/�\x1C����\x17\e�-��#�{�\x04w���\x0EPK\x03\x04\x14\0\0\b\b\0�kX��h0\"\x03\0\0�\n\0\0\x18\0\0\0xl/worksheets/sheet1.xml���r�0\x10�_�ᾜ����I�xڙv�I:͵\x02��DH�$b��֋>R_���\x0F�rJ�̊ߟv\x7F\x01�\x7F~����V�y�B\x12�fn�\x05��Y�\v��3�Q�Ocב\n�\x02Q���}�ҽ�_l�\e.^d��r���T��R�z��2/q���k��ފ�\n)\b���\x15��\rϛ\n3�GA��\x02S�`wY�Z�\x1Dm;�&k�Q�����U�0�MO�ދ��7�\x12��#��B��\x1AS��b���\x03Y�J/��\v���@��9����{\x15N���u�\x1F\x04od/rZg�9\x7Fi�/��\rz��\x1F��\x1CH��+�P��7�q��n��S��:\x15a:�\nm��\x14���\x13/�F�L��\e�zϼ��WOF\x10\x1EX�\x11u�h�\b�\x0FC�\x0E\x12\x1F �7N�d\x1C\r�$\x1D$9@R/��I\x18�!�� i\aI��\t�I8Ɇg�u�l\x0FɆU�\x1F\x0EI��\rR�\r\x04�8�<h5b\x12���~:�v��]�H8m��_�A\v{5Ƚ�ڦ\fmʅM\x19ٔ7F\x19���Mykc&6�ҦL{J_�rdNtƜȂʬ�ؔ#�96��jNԙ�\x15�\x04\x13��vG�$�\x03/�f�<U\x06��\x12��%\x1El�M9��bS�m�\a�\x12���'�ݔ�c�$gLI\x06�bS��wna��]I\x06����\r�0��o��D��+�\x19W���ؔ���b��]I\a���j�N\x16ۿ-�\0O��\x0F0j\x14_\x12����}ׂ0uW���)� ?9S�.`0�\x02��\r��\"��b\tC\a�GƆ� �W�.��\x03\x18��7$�\x04�\x14����\e����u\x13(^�.�����F��c�\x05+Ε\tF�\x11�\x11��vjTc�H~��(!��*�,Z͝И�o��\x12�;��u�H(DO[p�L\x1C�?E��\x15+�J�L�+\x04�iC�Ô.x�NkP!�\x11\x10�C!��� ���\r\x17]j&���٬(�L�=\x12J:9o�:������/PK\x03\x04\x14\0\0\b\b\0�kX`L���\x05\0\0�\e\0\0\x13\0\0\0xl/theme/theme1.xml�YM��D\x18�+#�[�I�fWM�M6i��v�\e�z�8\x13{��ǚ��67�\x1E��\x10\x05qA��\x01\x01�Z�K�5\vEP��\x05^;�=N��l�\bP7��3~��\x0F��\\��0d�\bIyԱ��5\v���c\x1A�\x1Dk�&����kW�\nHH\x10�#��;V�T�m�҃m,/�Dpo�E�\x15,�o�\x05>\x06&!��Z�\x0E1�,\x14�t���\t�\b\x1A&,��y��W�d��1q�\x12u�\x14;�:ɏ��\x1E\x13�\b��\x05r��xH\x1E*\v1,\x15��X��c!��U;�b��X#\x1C��%aF1��SB�rJg�ܺ�[H�/$�\x03��~��\x14\x1CS\x04�<��Y\x037\am��s�P��u[k�\x10h\x12\x1Ak\x04[�n��*\x134\n��\x1AA��j���\x04͂�]������\x04nA�Z#\x18\\�j5W\bRT�h4]�'�-B�c&��4�ۀo�P�l-�\x16\f\"U�w!~��\0\0i���\x11R�L�\a�\x1E\x0EG��T\x02�&X���yr}/\x11��'h�:և1�\x02)0�_����3���ӓG�O\x1E�|���ɣ�L�7q�딯����o>A\x7F>��Փ/+\b�N�ۏ����\x17\x15H�#_~����O_~��\x1F�?1�w\x04\x1E��!\r�Dw�1:�ab�A\x04\x19�3�\f\x03LK$8\0�\t�WA\tyg��\x11�%e\x1F�\x13�\x16��\e�\a%}\x0F\x031SԄ�\x15�%�\x1E�˅٦[�8ͦY�W�\x173\x1Dx��Q|o%��Y\f�M�L{\x01)��� ��'\x11Q(�ǧ����SZ��\x1E�\x04�|��}����\x1D3�#e��IC\b�ܨ#D�䡽{�˙Q�.9*C�B032%���\ex�ph�\x1A�L���*0*z8\x17^��RA�}�8ꏉ�F��b^R�\x16�\x16e΀=6\x0F�P���\b��9ס�|�\vp\x18���Q��?�S�X���2���5��! 8���=J�\x19��#�\a�dI��Ĳ���sH�75kF�[_4�f�\x03O0c����J���1��Y�O����\x17}��/���7��E\x03���:e\x18V\x0E�\x13�ء�3r[��[���\x01l���(\x1F��\0.��J@_��\x1A\t�>�*8\fp\fr�T�/3޾D1�p��*��gS\n�{n~�\x048V{|��o�N�9�t�K]T#a���ƕw\x15�,�\e�s�\ny��ٚO�6\x10N�\x1C8�z���0#���\x19�et�=R2�c���1��46�]�t�i�\x1A�*o�X�\x02�U\x02��\bVm=X�zu���BǠ�[w-��cM`���0\x06�2iI��Q��Tfͩ��jsE�:�j�KBb!�.���,�����\n\x13�n3aw>6��ӆz4�ο���\x1Aa2�\x10OU�\x14��\x1E�)\"\x0E��1\x1A��8��ys�ec*�QR_.\x04�k3K�r\x1F��a��OV'��\x01�zT[π\x05>�ΕHW�~v��oiK�\x1Cmq�g[���1N�a0\x1F\b��<�X\\��C?�\x03�\r\x04L\x14�0P\fAm�-�%��\x13eɑ��\x16L\x16\r�\x0F�\x01�����T \b�W���ps�\x1D2+��S�qr�e��\x1D�#\x86I\x11�\x12\x17X(��J�\x14�\x1A8�Tc#\x7F�_���US�)cC!�y�)��?\x04�g�ֻjq�\ap��캻�\x038��\nJ���S�b\x06\x1E�\x03�\x02T\f�����Y)�#к�ۗ��gg�\"\x10�����x�y�Q��S\x04���]���S�m�\x17��\x1Dy����]|�\0��\x99jƔ��K=��io��\x040�d����\x06PK\x03\x04\x14\0\0\b\0\0�kX~�l:�\x01\0\0�\x01\0\0Q\0\0\0package/services/metadata/core-properties/8eee44ff7231420cba3e8ad70ef6ed4e.psmdcp\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><coreProperties xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:dcterms=\"http://purl.org/dc/terms/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.openxmlformats.org/package/2006/metadata/core-properties\"><dcterms:created xsi:type=\"dcterms:W3CDTF\">2024-03-11T20:47:30.7558222Z</dcterms:created><dcterms:modified xsi:type=\"dcterms:W3CDTF\">2024-03-11T20:47:30.7558231Z</dcterms:modified></coreProperties>PK\x03\x04\x14\0\0\b\0\0�kX.�'��\x02\0\0�\x02\0\0\v\0\0\0_rels/.rels\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Relationships xmlns=\"http://schemas.openxmlformats.org/package/2006/relationships\"><Relationship Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/officeDocument\" Target=\"/xl/workbook.xml\" Id=\"Rc20f29ad9c1d4c48\" /><Relationship Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/extended-properties\" Target=\"/docProps/app.xml\" Id=\"rId1\" /><Relationship Type=\"http://schemas.openxmlformats.org/package/2006/relationships/metadata/core-properties\" Target=\"/package/services/metadata/core-properties/8eee44ff7231420cba3e8ad70ef6ed4e.psmdcp\" Id=\"R3c2103ef1d1f45b1\" /></Relationships>PK\x03\x04\x14\0\0\b\b\0�kX\f�H��\0\0\0�\x02\0\0\x1A\0\0\0xl/_rels/workbook.xml.rels��AN�0\x10E�b͞LZP�P�n���\x02�3��&����l,8\x12W�\x04\taĂM6����������z{\x1D\a�B���5,�\x1A\x14y\e��w\x1A���=�v�>�`$�`�GV�ų\x06'\x12�\x10�:\x1A\rW!�ϕ6��H>�\x0E��'�\x11.�z��'\x03J�:�\"��\x18ڶ��\v�<��?���$j�%�\t\x18�Ѥ�D\x03^��Te2�}�!�{P8���\x06��2e��Ü\x0E��N숤���?�-o��h9���^*m��k-EV�\b\x16�p�\x01PK\x03\x04\x14\0\0\b\b\0�kXZ;R@;\x01\0\07\x04\0\0\x13\0\0\0[Content_Types].xml���N\x021\x10�_eӫ�-x0ưpP�J�/д�lC��\x19\x10�̓��+8\x14��\x10���M;3�߿���\x1F��ʻj\t\x19m\f�\x186\x03QA���0kł��VLƣ�u\x02�85`+z�t'%�\x1E��&&\b\x1C�b��x�g2)=W3�׃���1\x10\x04�i�!ƣ\a���Q����-��Eu��۠Z�RrV+�\\\x06�\a�c�Y\r&��\x06S\x06e�\a ��7^�pU��AfBot�\x1F�{]��\x19�9��\x02�����4\bW�\x1C�m�A<�Yek���LOʳ��}��\x19��ܜ����n�\x1CZ�!��I�U\x06�B�/\r�m`�0\x7Fi\x1F5Bk\a\x17wPD���b��\n��\e^��N��\x11�W\t��|\x0FEfG��\e\x18\x7F\x01PK\x01\x02\x14\x03\x14\0\0\b\b\0�kX\n�Ǫ9\x01\0\0:\x02\0\0\x0F\0\0\0\0\0\0\0\0\0\0\0��\0\0\0\0xl/workbook.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX\x17<�m[\x01\0\0F\x03\0\0\x10\0\0\0\0\0\0\0\0\0\0\0��f\x01\0\0docProps/app.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX��\r��\0\0\0�\x01\0\0\x14\0\0\0\0\0\0\0\0\0\0\0���\x02\0\0xl/sharedStrings.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX롅\x1CV\x02\0\0�\b\0\0\r\0\0\0\0\0\0\0\0\0\0\0���\x03\0\0xl/styles.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX��h0\"\x03\0\0�\n\0\0\x18\0\0\0\0\0\0\0\0\0\0\0��l\x06\0\0xl/worksheets/sheet1.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX`L���\x05\0\0�\e\0\0\x13\0\0\0\0\0\0\0\0\0\0\0���\t\0\0xl/theme/theme1.xmlPK\x01\x02\x14\x03\x14\0\0\b\0\0�kX~�l:�\x01\0\0�\x01\0\0Q\0\0\0\0\0\0\0\0\0\0\0���\x0F\0\0package/services/metadata/core-properties/8eee44ff7231420cba3e8ad70ef6ed4e.psmdcpPK\x01\x02\x14\x03\x14\0\0\b\0\0�kX.�'��\x02\0\0�\x02\0\0\v\0\0\0\0\0\0\0\0\0\0\0���\x11\0\0_rels/.relsPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX\f�H��\0\0\0�\x02\0\0\x1A\0\0\0\0\0\0\0\0\0\0\0���\x14\0\0xl/_rels/workbook.xml.relsPK\x01\x02\x14\x03\x14\0\0\b\b\0�kXZ;R@;\x01\0\07\x04\0\0\x13\0\0\0\0\0\0\0\0\0\0\0���\x15\0\0[Content_Types].xmlPK\x05\x06\0\0\0\0\n\0\n\0�\x02\0\00\x17\0\0\0\0"
            application/x-sap-flat-file:
              schema:
                type: string
                format: binary
              examples:
                sampleFileText:
                  summary: The text representation of a sample SAP Flat File
                  value: "NOCM;CHF;NOK;20200924;1030.66;100;1\r\nNOCM;CNY;NOK;20200924;139.6;100;1\r\nNOCM;EUR;NOK;20200924;11.1023;1;1\r\nNOCM;USD;NOK;20200924;9.534;1;1\r\n"
                sampleFile:
                  summary: A sample SAP Flat File
                  value: |
                    NOCB;CHF;NOK;20200924;1030.66;100;1
                    NOCB;CNY;NOK;20200924;139.6;100;1
                    NOCB;EUR;NOK;20200924;11.1023;1;1
                    NOCB;USD;NOK;20200924;9.534;1;1
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indicates how long to wait before making a new request
              schema:
                type: integer
                description: Indicates how long to wait before making a new request
                format: int32
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: 00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00
                errors:
                  bankId: Daily rates are not supported for the specified bank.
  /v1/Banks/{bankId}/BiweeklyRates/{year}/{month}:
    get:
      tags:
        - BiweeklyRates
      summary: >-
        Returns the exchange rates for the given month. (Auth policies:
        RequireBankSubscription)
      operationId: GetBiweeklyRates
      parameters:
        - name: bankId
          in: path
          description: The bank identifier.
          required: true
          schema:
            $ref: '#/components/schemas/BankId'
        - name: year
          in: path
          description: The requested year.
          required: true
          schema:
            minimum: 1900
            type: integer
            format: int32
        - name: month
          in: path
          description: The requested month.
          required: true
          schema:
            maximum: 12
            minimum: 1
            type: integer
            format: int32
        - name: currencies
          in: query
          description: >-
            The currencies to return. If no currencies are provided, all
            available currencies will be included in the results.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/CurrencyCode'
        - name: priceType
          in: query
          description: The requested price type. Defaults to mid.
          schema:
            $ref: '#/components/schemas/PriceType'
        - name: includeObsoleteCurrencies
          in: query
          description: >-
            A flag indicating whether obsolete currencies should be included in
            the results. Defaults to false.
          schema:
            type: boolean
        - name: format
          in: query
          description: The response format.
          schema:
            $ref: '#/components/schemas/Format'
      responses:
        '200':
          description: Returns the exchange rates.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRatesModel'
              example:
                bankId: NOCB
                baseCurrency: NOK
                quoteType: Direct
                rates:
                  '2020-09-24':
                    CHF:
                      rate: 1030.66
                      unitMultiplier: 2
                    CNY:
                      rate: 139.6
                      unitMultiplier: 2
                    EUR:
                      rate: 11.1023
                      unitMultiplier: null
                    USD:
                      rate: 9.534
                      unitMultiplier: null
                  '2020-09-25':
                    CHF:
                      rate: 1032.09
                      unitMultiplier: 2
                    CNY:
                      rate: 140.27
                      unitMultiplier: 2
                    EUR:
                      rate: 11.1445
                      unitMultiplier: null
                    USD:
                      rate: 9.5793
                      unitMultiplier: null
            application/xml:
              schema:
                type: string
              examples:
                sampleFileText:
                  summary: The text representation of a sample XML file
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ExchangeRates xmlns=\"http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates\">\r\n   <BankId>NOCB</BankId>\r\n   <BaseCurrency>NOK</BaseCurrency>\r\n   <QuoteType>Direct</QuoteType>\r\n   <Rates effectiveDate=\"2020-09-24\">\r\n      <Rate currency=\"CHF\" value=\"1030.66\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"CNY\" value=\"139.6\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"EUR\" value=\"11.1023\" />\r\n      <Rate currency=\"USD\" value=\"9.534\" />\r\n   </Rates>\r\n</ExchangeRates>"
                sampleFile:
                  summary: A sample XML file
                  value: >-
                    <?xml version="1.0" encoding="utf-8"?><ExchangeRates
                    xmlns="http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates"><BankId>NOCB</BankId><BaseCurrency>NOK</BaseCurrency><QuoteType>Direct</QuoteType><Rates
                    effectiveDate="2020-09-24"><Rate currency="CHF"
                    value="1030.66" unitMultiplier="2" /><Rate currency="CNY"
                    value="139.6" unitMultiplier="2" /><Rate currency="EUR"
                    value="11.1023" /><Rate currency="USD" value="9.534"
                    /></Rates></ExchangeRates>
            text/csv:
              schema:
                type: string
              examples:
                sampleFileText:
                  summary: The text representation of a sample CSV file
                  value: "BankId,From Currency,To Currency,Effective Date,Exchange Rate,Unit\r\nNOCB,CHF,NOK,2020-09-24,1030.66,100\r\nNOCB,CNY,NOK,2020-09-24,139.6,100\r\nNOCB,EUR,NOK,2020-09-24,11.1023,1\r\nNOCB,USD,NOK,2020-09-24,9.534,1\r\n"
                sampleFile:
                  summary: A sample CSV file
                  value: >
                    BankId,From Currency,To Currency,Effective Date,Exchange
                    Rate,Unit

                    NOCB,CHF,NOK,2020-09-24,1030.66,100

                    NOCB,CNY,NOK,2020-09-24,139.6,100

                    NOCB,EUR,NOK,2020-09-24,11.1023,1

                    NOCB,USD,NOK,2020-09-24,9.534,1
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
              examples:
                sampleFile:
                  summary: A sample xlsx file
                  value: "PK\x03\x04\x14\0\0\b\b\0�kX\n�Ǫ9\x01\0\0:\x02\0\0\x0F\0\0\0xl/workbook.xml���k�0\x10����(�4�\x05�Qle �/cL�\x1E%&W\ȅ�D���%���O���}��\\�VIrF��\x05L�\x13 ���B\x1F\n8���\r\x16��/�\x1E��\x1CI��.�\x05��7y�:V��nl\x1AԡV\x19��\x0F�=���\x04åa'�ڧ�d�Z��\a-W�����>Bs�E�]����)*4\f�}Z\x12��\aUX��\x16��Z\0�ƾ\x18~\v���P� ���o\"���\x03ʼ8��,̦wÝ�[Dt'��B��/�1��+�y\x01\x19\x10��\x10�5�z�\r��\x12\x1Ay4}�_��Vj5ޭ��h���=u\bD\x1AF�W\t>k�9�o�r4�2zJޓi���YT\x1E�˻��\x0FP\x16\x17\x19�ȝf��l���V�\x01PK\x03\x04\x14\0\0\b\b\0�kX\x17<�m[\x01\0\0F\x03\0\0\x10\0\0\0docProps/app.xml��QO�0\x14����;l 1f�J����.B��\\�;h�ڦ�,௷\e\b\x13�\x18�z��v{N�%�uU\x065Z'�J٠\x1F�\0�йT�����]�1O�ę�\x06-It��D����-�L\x1C�N,�\x02�����B�\nȗv\x11ꢐ\x02�Z�*T\x14\x0E��*̵h����Ơc�y`�;\x0Fׄ*Ǽg�\x1EY�ybL)\x05���殺�邂۵�2\t��\r?�T�{,2��xRS\\� m�7pؘMYi\x1CY\x168��K�B�Ƨ �M�\x04�.\t����Ef��׉E�#�uօý;�f9��;��\x1A3��L�\x1A�\x04E_qF�8;���E�w�D��\x0E:lw-G|�\x02~�+���\0\x15�>�Z�\by~���-����Ax�?�\x19�����Q�t���\t(��?'^@�e\x0EZ[\x1E~\b�\tPK\x03\x04\x14\0\0\b\b\0�kX��\r��\0\0\0�\x01\0\0\x14\0\0\0xl/sharedStrings.xml��M\v�0\f��J�];=��m¦�\b\n~\x1C<�-ۊ6\x1Dm����\x14\x0F\x1E����y\x12^h4k����:e0�a�\x19`n\n�U�oT\x0E�|�Dm�\x1C�NE\x17�1���P\b�נ�\e�\x06�c��ZR7�J�Ƃ,\\\r@�*�A0\x11Z*�S����\x12/�\"\x12}�����.��,�Y��y�����,�\x12rRw`sI�ڼ�X\x01���N��Ƕ�,��l���m�[۳7�i��x�\x7F#����\tPK\x03\x04\x14\0\0\b\b\0�kX롅\x1CV\x02\0\0�\b\0\0\r\0\0\0xl/styles.xml�Vmk�0\x10�+B�S�a+#�-[G��vcMa_e�lkՋ����\x1C'���\x18����w��Gw:�$_\\���-hÔ�qv6�\bd�*&�\x1Col={��./���\x03��\x16�\"��f�縵�[\x12b�\x16\x045g�\x03��J\vj��\eb:\r�2^&8Y���DP&�\x1FQn�JX�J��6ǋ=\x10��M�c�O\x1C�ZU�c��Oi���C�����ݬ�����yy��\x148�#�߮\x14�=g�D[�s\\P\x03�IHq�K��,\x01��J#�\x149^���\x19S�\x02\"��rVh��\nƇ�e1�\x16�'#��8?������ւ�+�d����Y��(�ȿ\x155�\x0E����.\x19!�B����a�\"�*F\e%)\x7F��J��G�,=��\x1Cj�B��\x04\x7FU6\x12���YӞ$\f\x02ϱ�;E��qF�*q�0*<i��)�Q�����3C�K������>j��>�\"rg�uKf\x1C*9���p�\x11\x05�U�'~)#�b�>\x04դ\t�A��\x13|��Bi�\x11\x12�v\b�|�*�[VU\x10:!M��\x7F�>��\x7F'\x7Fr�0�B��5��W�,\x1DI�U�����aԀ\x04M9���ee8�B�cd��_��q\x10\x17�Y�n���0Y�����\x1Di\v7\x13�mc,��[j�;H\x03fZ���Z��(������\vy���_�?�7����9utI�p�/�\x1C����\x17\e�-��#�{�\x04w���\x0EPK\x03\x04\x14\0\0\b\b\0�kX��h0\"\x03\0\0�\n\0\0\x18\0\0\0xl/worksheets/sheet1.xml���r�0\x10�_�ᾜ����I�xڙv�I:͵\x02��DH�$b��֋>R_���\x0F�rJ�̊ߟv\x7F\x01�\x7F~����V�y�B\x12�fn�\x05��Y�\v��3�Q�Ocב\n�\x02Q���}�ҽ�_l�\e.^d��r���T��R�z��2/q���k��ފ�\n)\b���\x15��\rϛ\n3�GA��\x02S�`wY�Z�\x1Dm;�&k�Q�����U�0�MO�ދ��7�\x12��#��B��\x1AS��b���\x03Y�J/��\v���@��9����{\x15N���u�\x1F\x04od/rZg�9\x7Fi�/��\rz��\x1F��\x1CH��+�P��7�q��n��S��:\x15a:�\nm��\x14���\x13/�F�L��\e�zϼ��WOF\x10\x1EX�\x11u�h�\b�\x0FC�\x0E\x12\x1F �7N�d\x1C\r�$\x1D$9@R/��I\x18�!�� i\aI��\t�I8Ɇg�u�l\x0FɆU�\x1F\x0EI��\rR�\r\x04�8�<h5b\x12���~:�v��]�H8m��_�A\v{5Ƚ�ڦ\fmʅM\x19ٔ7F\x19���Mykc&6�ҦL{J_�rdNtƜȂʬ�ؔ#�96��jNԙ�\x15�\x04\x13��vG�$�\x03/�f�<U\x06��\x12��%\x1El�M9��bS�m�\a�\x12���'�ݔ�c�$gLI\x06�bS��wna��]I\x06����\r�0��o��D��+�\x19W���ؔ���b��]I\a���j�N\x16ۿ-�\0O��\x0F0j\x14_\x12����}ׂ0uW���)� ?9S�.`0�\x02��\r��\"��b\tC\a�GƆ� �W�.��\x03\x18��7$�\x04�\x14����\e����u\x13(^�.�����F��c�\x05+Ε\tF�\x11�\x11��vjTc�H~��(!��*�,Z͝И�o��\x12�;��u�H(DO[p�L\x1C�?E��\x15+�J�L�+\x04�iC�Ô.x�NkP!�\x11\x10�C!��� ���\r\x17]j&���٬(�L�=\x12J:9o�:������/PK\x03\x04\x14\0\0\b\b\0�kX`L���\x05\0\0�\e\0\0\x13\0\0\0xl/theme/theme1.xml�YM��D\x18�+#�[�I�fWM�M6i��v�\e�z�8\x13{��ǚ��67�\x1E��\x10\x05qA��\x01\x01�Z�K�5\vEP��\x05^;�=N��l�\bP7��3~��\x0F��\\��0d�\bIyԱ��5\v���c\x1A�\x1Dk�&����kW�\nHH\x10�#��;V�T�m�҃m,/�Dpo�E�\x15,�o�\x05>\x06&!��Z�\x0E1�,\x14�t���\t�\b\x1A&,��y��W�d��1q�\x12u�\x14;�:ɏ��\x1E\x13�\b��\x05r��xH\x1E*\v1,\x15��X��c!��U;�b��X#\x1C��%aF1��SB�rJg�ܺ�[H�/$�\x03��~��\x14\x1CS\x04�<��Y\x037\am��s�P��u[k�\x10h\x12\x1Ak\x04[�n��*\x134\n��\x1AA��j���\x04͂�]������\x04nA�Z#\x18\\�j5W\bRT�h4]�'�-B�c&��4�ۀo�P�l-�\x16\f\"U�w!~��\0\0i���\x11R�L�\a�\x1E\x0EG��T\x02�&X���yr}/\x11��'h�:և1�\x02)0�_����3���ӓG�O\x1E�|���ɣ�L�7q�딯����o>A\x7F>��Փ/+\b�N�ۏ����\x17\x15H�#_~����O_~��\x1F�?1�w\x04\x1E��!\r�Dw�1:�ab�A\x04\x19�3�\f\x03LK$8\0�\t�WA\tyg��\x11�%e\x1F�\x13�\x16��\e�\a%}\x0F\x031SԄ�\x15�%�\x1E�˅٦[�8ͦY�W�\x173\x1Dx��Q|o%��Y\f�M�L{\x01)��� ��'\x11Q(�ǧ����SZ��\x1E�\x04�|��}����\x1D3�#e��IC\b�ܨ#D�䡽{�˙Q�.9*C�B032%���\ex�ph�\x1A�L���*0*z8\x17^��RA�}�8ꏉ�F��b^R�\x16�\x16e΀=6\x0F�P���\b��9ס�|�\vp\x18���Q��?�S�X���2���5��! 8���=J�\x19��#�\a�dI��Ĳ���sH�75kF�[_4�f�\x03O0c����J���1��Y�O����\x17}��/���7��E\x03���:e\x18V\x0E�\x13�ء�3r[��[���\x01l���(\x1F��\0.��J@_��\x1A\t�>�*8\fp\fr�T�/3޾D1�p��*��gS\n�{n~�\x048V{|��o�N�9�t�K]T#a���ƕw\x15�,�\e�s�\ny��ٚO�6\x10N�\x1C8�z���0#���\x19�et�=R2�c���1��46�]�t�i�\x1A�*o�X�\x02�U\x02��\bVm=X�zu���BǠ�[w-��cM`���0\x06�2iI��Q��Tfͩ��jsE�:�j�KBb!�.���,�����\n\x13�n3aw>6��ӆz4�ο���\x1Aa2�\x10OU�\x14��\x1E�)\"\x0E��1\x1A��8��ys�ec*�QR_.\x04�k3K�r\x1F��a��OV'��\x01�zT[π\x05>�ΕHW�~v��oiK�\x1Cmq�g[���1N�a0\x1F\b��<�X\\��C?�\x03�\r\x04L\x14�0P\fAm�-�%��\x13eɑ��\x16L\x16\r�\x0F�\x01�����T \b�W���ps�\x1D2+��S�qr�e��\x1D�#\x86I\x11�\x12\x17X(��J�\x14�\x1A8�Tc#\x7F�_���US�)cC!�y�)��?\x04�g�ֻjq�\ap��캻�\x038��\nJ���S�b\x06\x1E�\x03�\x02T\f�����Y)�#к�ۗ��gg�\"\x10�����x�y�Q��S\x04���]���S�m�\x17��\x1Dy����]|�\0��\x99jƔ��K=��io��\x040�d����\x06PK\x03\x04\x14\0\0\b\0\0�kX~�l:�\x01\0\0�\x01\0\0Q\0\0\0package/services/metadata/core-properties/8eee44ff7231420cba3e8ad70ef6ed4e.psmdcp\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><coreProperties xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:dcterms=\"http://purl.org/dc/terms/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.openxmlformats.org/package/2006/metadata/core-properties\"><dcterms:created xsi:type=\"dcterms:W3CDTF\">2024-03-11T20:47:30.7558222Z</dcterms:created><dcterms:modified xsi:type=\"dcterms:W3CDTF\">2024-03-11T20:47:30.7558231Z</dcterms:modified></coreProperties>PK\x03\x04\x14\0\0\b\0\0�kX.�'��\x02\0\0�\x02\0\0\v\0\0\0_rels/.rels\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Relationships xmlns=\"http://schemas.openxmlformats.org/package/2006/relationships\"><Relationship Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/officeDocument\" Target=\"/xl/workbook.xml\" Id=\"Rc20f29ad9c1d4c48\" /><Relationship Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/extended-properties\" Target=\"/docProps/app.xml\" Id=\"rId1\" /><Relationship Type=\"http://schemas.openxmlformats.org/package/2006/relationships/metadata/core-properties\" Target=\"/package/services/metadata/core-properties/8eee44ff7231420cba3e8ad70ef6ed4e.psmdcp\" Id=\"R3c2103ef1d1f45b1\" /></Relationships>PK\x03\x04\x14\0\0\b\b\0�kX\f�H��\0\0\0�\x02\0\0\x1A\0\0\0xl/_rels/workbook.xml.rels��AN�0\x10E�b͞LZP�P�n���\x02�3��&����l,8\x12W�\x04\taĂM6����������z{\x1D\a�B���5,�\x1A\x14y\e��w\x1A���=�v�>�`$�`�GV�ų\x06'\x12�\x10�:\x1A\rW!�ϕ6��H>�\x0E��'�\x11.�z��'\x03J�:�\"��\x18ڶ��\v�<��?���$j�%�\t\x18�Ѥ�D\x03^��Te2�}�!�{P8���\x06��2e��Ü\x0E��N숤���?�-o��h9���^*m��k-EV�\b\x16�p�\x01PK\x03\x04\x14\0\0\b\b\0�kXZ;R@;\x01\0\07\x04\0\0\x13\0\0\0[Content_Types].xml���N\x021\x10�_eӫ�-x0ưpP�J�/д�lC��\x19\x10�̓��+8\x14��\x10���M;3�߿���\x1F��ʻj\t\x19m\f�\x186\x03QA���0kł��VLƣ�u\x02�85`+z�t'%�\x1E��&&\b\x1C�b��x�g2)=W3�׃���1\x10\x04�i�!ƣ\a���Q����-��Eu��۠Z�RrV+�\\\x06�\a�c�Y\r&��\x06S\x06e�\a ��7^�pU��AfBot�\x1F�{]��\x19�9��\x02�����4\bW�\x1C�m�A<�Yek���LOʳ��}��\x19��ܜ����n�\x1CZ�!��I�U\x06�B�/\r�m`�0\x7Fi\x1F5Bk\a\x17wPD���b��\n��\e^��N��\x11�W\t��|\x0FEfG��\e\x18\x7F\x01PK\x01\x02\x14\x03\x14\0\0\b\b\0�kX\n�Ǫ9\x01\0\0:\x02\0\0\x0F\0\0\0\0\0\0\0\0\0\0\0��\0\0\0\0xl/workbook.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX\x17<�m[\x01\0\0F\x03\0\0\x10\0\0\0\0\0\0\0\0\0\0\0��f\x01\0\0docProps/app.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX��\r��\0\0\0�\x01\0\0\x14\0\0\0\0\0\0\0\0\0\0\0���\x02\0\0xl/sharedStrings.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX롅\x1CV\x02\0\0�\b\0\0\r\0\0\0\0\0\0\0\0\0\0\0���\x03\0\0xl/styles.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX��h0\"\x03\0\0�\n\0\0\x18\0\0\0\0\0\0\0\0\0\0\0��l\x06\0\0xl/worksheets/sheet1.xmlPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX`L���\x05\0\0�\e\0\0\x13\0\0\0\0\0\0\0\0\0\0\0���\t\0\0xl/theme/theme1.xmlPK\x01\x02\x14\x03\x14\0\0\b\0\0�kX~�l:�\x01\0\0�\x01\0\0Q\0\0\0\0\0\0\0\0\0\0\0���\x0F\0\0package/services/metadata/core-properties/8eee44ff7231420cba3e8ad70ef6ed4e.psmdcpPK\x01\x02\x14\x03\x14\0\0\b\0\0�kX.�'��\x02\0\0�\x02\0\0\v\0\0\0\0\0\0\0\0\0\0\0���\x11\0\0_rels/.relsPK\x01\x02\x14\x03\x14\0\0\b\b\0�kX\f�H��\0\0\0�\x02\0\0\x1A\0\0\0\0\0\0\0\0\0\0\0���\x14\0\0xl/_rels/workbook.xml.relsPK\x01\x02\x14\x03\x14\0\0\b\b\0�kXZ;R@;\x01\0\07\x04\0\0\x13\0\0\0\0\0\0\0\0\0\0\0���\x15\0\0[Content_Types].xmlPK\x05\x06\0\0\0\0\n\0\n\0�\x02\0\00\x17\0\0\0\0"
            application/x-sap-flat-file:
              schema:
                type: string
              examples:
                sampleFileText:
                  summary: The text representation of a sample SAP Flat File
                  value: "NOCM;CHF;NOK;20200924;1030.66;100;1\r\nNOCM;CNY;NOK;20200924;139.6;100;1\r\nNOCM;EUR;NOK;20200924;11.1023;1;1\r\nNOCM;USD;NOK;20200924;9.534;1;1\r\n"
                sampleFile:
                  summary: A sample SAP Flat File
                  value: |
                    NOCB;CHF;NOK;20200924;1030.66;100;1
                    NOCB;CNY;NOK;20200924;139.6;100;1
                    NOCB;EUR;NOK;20200924;11.1023;1;1
                    NOCB;USD;NOK;20200924;9.534;1;1
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indicates how long to wait before making a new request
              schema:
                type: integer
                description: Indicates how long to wait before making a new request
                format: int32
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: 00-94ac2e4ee2594c48b1d2598bc4dff011-fb8c0b364263aa44-00
                errors:
                  bankId: Daily rates are not supported for the specified bank.
  /v1/Banks/{bankId}/BiweeklyRates/{year}/{month}.{format}:
    get:
      tags:
        - BiweeklyRates
      summary: >-
        Returns the exchange rates for the given month exported into the given
        file format. (Auth policies: RequireBankSubscription)
      operationId: GetBiweeklyRatesBinary
      parameters:
        - name: bankId
          in: path
          description: The bank identifier.
          required: true
          schema:
            $ref: '#/components/schemas/BankId'
        - name: year
          in: path
          description: The requested year.
          required: true
          schema:
            minimum: 1900
            type: integer
            format: int32
        - name: month
          in: path
          description: The requested month.
          required: true
          schema:
            maximum: 12
            minimum: 1
            type: integer
            format: int32
        - name: currencies
          in: query
          description: >-
            The currencies to return. If no currencies are provided, all
            available currencies will be included in the results.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/CurrencyCode'
        - name: priceType
          in: query
          description: The requested price type. Defaults to mid.
          schema:
            $ref: '#/components/schemas/PriceType'
        - name: includeObsoleteCurrencies
          in: query
          description: >-
            A flag indicating whether obsolete currencies should be included in
            the results. Defaults to false.
          schema:
            type: boolean
        - name: format
          in: path
          description: The response format.
          required: true
          schema:
            $ref: '#/components/schemas/Format'
      responses:
        '200':
          description: Returns the exchange rates.
          headers:
            X-Rate-Limit-Limit:
              description: >-
                The rate limit period that is applicable for the current request
                (eg. 1m, 12h, 1d)
              schema:
                type: string
                description: >-
                  The rate limit period that is applicable for the current
                  request (eg. 1m, 12h, 1d)
                format: ''
            X-Rate-Limit-Remaining:
              description: The number of requests left for the current rate-limit window
              schema:
                type: integer
                description: The number of requests left for the current rate-limit window
                format: int32
            X-Rate-Limit-Reset:
              description: UTC date time (ISO 8601) when the rate limit resets
              schema:
                type: string
                description: UTC date time (ISO 8601) when the rate limit resets
                format: date-time
          content:
            application/json:
              schema:
                type: string
                format: binary
            application/xml:
              schema:
                type: string
                format: binary
              examples:
                sampleFileText:
                  summary: The text representation of a sample XML file
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ExchangeRates xmlns=\"http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates\">\r\n   <BankId>NOCB</BankId>\r\n   <BaseCurrency>NOK</BaseCurrency>\r\n   <QuoteType>Direct</QuoteType>\r\n   <Rates effectiveDate=\"2020-09-24\">\r\n      <Rate currency=\"CHF\" value=\"1030.66\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"CNY\" value=\"139.6\" unitMultiplier=\"2\" />\r\n      <Rate currency=\"EUR\" value=\"11.1023\" />\r\n      <Rate currency=\"USD\" value=\"9.534\" />\r\n   </Rates>\r\n</ExchangeRates>"
                sampleFile:
                  summary: A sample XML file
                  value: >-
                    <?xml version="1.0" encoding="utf-8"?><ExchangeRates
                    xmlns="http://schemas.fluentax.com/ExchangeRates/1.0/ExchangeRates"><BankId>NOCB</BankId><BaseCurrency>NOK</BaseCurrency><QuoteType>Direct</QuoteType><Rates
                    effectiveDate="2020-09-24"><Rate currency="CHF"
                    value="1030.66" unitMultiplier="2" /><Rate currency="CNY"
                    value="139.6" unitMultiplier="2" /><Rate currency="EUR"
                    value="11.1023" /><Rate currency="USD" value="9.534"
                    /></Rates></ExchangeRates>
            text/csv:
              schema:
                type: string
                format: binary
              examples:
                sampleFileText:
                  summary: The text representation of a sample CSV file
                  value: "BankId,From Currency,To Currency,Effective Date,Exchange Rate,Unit\r\nNOCB,CHF,NOK,2020-09-24,1030.66,100\r\nNOCB,CNY,NOK,2020-09-24,139.6,100\r\nNOCB,EUR,NOK,2020-09-24,11.1023,1\r\nNOCB,USD,NOK,2020-09-24,9.534,1\r\n"
                sampleFile:
                  summary: A sample CSV file
                  value: >
                    BankId,From Currency,To Currency,Effective Date,Exchange
                    Rate,Unit

                    NOCB,CHF,NOK,2020-09-24,1030.66,100

                    NOCB,CNY,NOK,2020-09-24,139.6,100

                    NOCB,EUR,NOK,2020-09-24,11.1023,1

                    NOCB,USD,NOK,2020-09-24,9.534,1
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
              examples:
                sampleFile:
                  summary: A sample xlsx file
                  value: "PK\x03\x04\x14\0\0\b\b\0�kX\n�Ǫ9\x01\0\0:\x02\0\0\x0F\0\0\0xl/workbook.xml���k�0\x10����(�4�\x05�Qle �/cL�\x1E%&W\ȅ�D���%���O���}��\\�VIrF��\x05L�\x13 ���B\x1F\n8���\r\x16��/�\x1E��\x1CI��.�\x05��7y�:V��nl\x1AԡV\x19��\x0F�=���\x04åa'�ڧ�d�Z��\a-W�����>Bs�E�]����)*4\f�}Z\x12��\aUX��\x16��Z\0�ƾ\x18~\v���P� ���o\"���\x03ʼ8��,̦wÝ�[Dt'��B��/�1��+�y\x01\x19\x10��\x10�5�z�\r��\x12\x1Ay4}�_��Vj5ޭ��h���=u\bD\x1AF�W\t>k�9�o�r4�2zJޓi���YT\x1E�˻��\x0FP\x16\x17\x19�ȝf��l���V�\x01PK\x03\x04\x14\0\0\b\b\0�kX\x17<�m[\x01\0\0F\x03\0\0\x10\0\0\0docProps/app.xml��QO�0\x14����;l 1f�J����.B��\\�;h�ڦ�,௷\e\b\x13�\x18�z��v{N�%�uU\x065Z'�J٠\x1F�\0�йT�����]�1O�ę�\x06-It��D����-�L\x1C�N,�\x02�����B�\nȗv\x11ꢐ\x02�Z�*T\x14\x0E��*̵h����Ơc�y`�;\x0Fׄ*Ǽg�\x1EY�ybL)\x05���殺�邂۵�2\t��\r?�T�{,2��xRS\\� m�7pؘMYi\x1CY\x168��K�B�Ƨ �M�\x04�.\t����Ef��׉E�#�uօý;�f9��;��\x1A3��L�\x1A�\x04E_qF�8;���E�w�D��\x0E:lw-G|�\x02~�+���\0\x15�>�Z�\by~���-����Ax�?�\x19�����Q�t���\t(��?'^@�e\x0EZ[\x1E~\b�\tPK\x03\x04\x14\0\0\b\b\0�kX��\r��\0\0\0�\x01\0\0\x14\0\0\0xl/sharedStrings.xml��M\v�0\f��J�];=��m¦�\b\n~\x1C<�-ۊ6\x1Dm����\x14\x0F\x1E����y\x12^h4k����:e0�a�\x19`n\n�U�oT\x0E�|�Dm�\x1C�NE\x17�1���P\b�נ�\e�\x06�c��ZR7�J�Ƃ,\\\r@�*�A0\x11Z*�S����\x12/�\"\x12}�����.��,�Y��y�����,�\x12rRw`sI�ڼ�X\x01���N��Ƕ�,��l���m�[۳7�i��x�\x7F#����\tPK\x03\x04\x14\0\0\b\b\0�kX롅\x1CV\x02\0\0�\b\0\0\r\0\0\0xl/styles.xml�Vmk�0\x10�+B�S�a+#�-[G��vcMa_e�lkՋ����\x1C'���\x18����w��Gw:�$_\\���-hÔ�qv6�\bd�*&�\x1Col={��./���\x03��\x16�\"��f�縵�[\x12b�\x16\x045g�\x03��J\vj��\eb:\r�2^&8Y���DP&�\x1FQn�JX�J��6ǋ=\x10��M�c�O\x1C�ZU�c��Oi���C�����ݬ�����yy��\x148�#�߮\x14�=g�D[�s\\P\x03�IHq�K��,\x01��J#�\x149^���\x19S�\x02\"��rVh��\nƇ�e1�\x16�'#��8?������ւ�+�d����Y��(�ȿ\x155�\x0E����.\x19!�B����a�\"�*F\e%)\x7F��J��G�,=��\x1Cj�B��\x04\x7FU6\x12���YӞ$\f\x02ϱ�;E��qF�*q�0*<i��)�Q�����3C�K������>j��>�\"rg�uKf\x1C*9���p�\x11\x05�U�'~)#�b�>\x04դ\t�A��\x13|��Bi�\x11\x12�v\b�|�*�[VU\x10:!M��\x7F�>��\x7F'\x7Fr�0�B��5��W�,\x1DI�U�����aԀ\x04M9���ee8�B�cd��_��q\x10\x17�Y�n���0Y�����\x1Di\v7\x13�mc,��[j�;H\x03fZ���Z��(������\vy���_�?�7����9utI�p�/�\x1C����\x17\e�-��#�{�\x04w���\x0EPK\x03\x04\x14\0\0\b\b\0�kX��h0\"\x03\0\0�\n\0\0\x18\0\0\0xl/worksheets/sheet1.xml���r�0\x10�_�ᾜ����I�xڙv�I:͵\x02��DH�$b��֋>R_���\x0F�rJ�̊ߟv\x7F\x01�\x7F~����V�y�B\x12�fn�\x05��Y�\v��3�Q�Ocב\n�\x02Q���}�ҽ�_l�\e.^d��r���T��R�z��2/q���k��ފ�\n)\b���\x15��\rϛ\n3�GA��\x02S�`wY�Z�\x1Dm;�&k�Q�����U�0�MO�ދ��7�\x12��#��B��\x1AS��b���\x03Y�J/��\v���@��9����{\x15N���u�\x1F\x04od/rZg�9\x7Fi�/��\rz��\x1F��\x1CH��+�P��7�q��n��S��:\x15a:�\nm��\x14���\x13/�F�L��\e�zϼ��WOF\x10\x1EX�\x11u�h�\b�\x0FC�\x0E\x12\x1F �7N�d\x1C\r�$\x1D$9@R/��I\x18�!�� i\aI��\t�I8Ɇg�u�l\x0FɆU�\x1F\x0EI��\rR�\r\x04�8�<h5b\x12���~:�v��]�H8m��_�A\v{5Ƚ�ڦ\fmʅM\x19ٔ7F\x19���Mykc&6�ҦL{J_�rdNtƜȂʬ�ؔ#�96��jNԙ�\x15�\x04\x13��vG�$�\x03/�f�<U\x06��\x12��%\x1El�M9��bS�m�\a�\x12���'�ݔ�c�$gLI\x06�bS��wna��]I\x06����\r�0��o��D��+�\x19W���ؔ���b��]I\a���j�N\x16ۿ-�\0O��\x0F0j\x14_\x12����}ׂ0uW���)� ?9S�.`0�\x02��\r��\"��b\tC\a�GƆ� �W�.��\x03\x18��7$�\x04�\x14����\e����u\x13(^�.�����F��c�\x05+Ε\tF�\x11�\x11��vjTc�H~��(!��*�,Z͝И�o��\x12�;��u�H(DO[p�L\x1C�?E��\x15+�J�L�+\x04�iC�Ô.x�NkP!�\x11\x10�C!��� ���\r\x17]j&���٬(�L�=\x12J:9o�:������/PK\x03\x04\x14\0\0\b\b\0�kX`L���\x05\0\0�\e\0\0\x13\0\0\0xl/theme/theme1.xml�YM��D\x18�+#�[�I�fWM�M6i��v�\e�z�8\x13{��ǚ��67�\x1E��\x10\x05qA��\x01\x01�Z�K�5\vEP��\x05^;�=N��l�\bP7��3~��\x0F��\\��0d�\bIyԱ��5\v���c\x1A�\x1Dk�&����kW�\nHH\x10�#��;V�T�m�҃m,/�Dpo�E�\x15,�o�\x05>\x06&!��Z�\x0E1�,\x14�t���\t�\b\x1A&,��y��W�d��1q�\x12u�\x14;�:ɏ��\x1E\x13�\b��\x05r��xH\x1E*\v1,\x15��X��c!��U;�b��X#\x1C��%aF1��SB�rJg�ܺ�[H�/$�\x03��~��\x14\x1CS\x04�<��Y\x037\am��s�P��u[k�\x10h\x12\x1Ak\x04[�n��*\x134\n��\x1AA��j���\x04͂�]������\x04nA�Z#\x18\\�j5W\bRT�h4]�'�-B�c&��4�ۀo�P�l-�\x16\f\"U�w!~��\0\0i���\x11R�L�\a�\x1E\x0EG��T\x02�&X���yr}/\x11��'h�:և1�\x02)0�_����3���ӓG�O\x1E�|���ɣ�L�7q�딯����o>A\x7F>��Փ/+\b�N�ۏ����\x17\x15H�#_~����O_~��\x1F�?1�w\x04\x1E��!\r�Dw�1:�ab�A\x04\x19�3�\f\x03LK$8\0�\t�WA\tyg��\x11�%e\x1F�\x13�\x16��\e�\a%}\x0F\x031SԄ�\x15�%�\x1E�˅٦[�8ͦY�W�\x173\x1Dx��Q|o%��Y\f�M�L{\x01)��� ��'\x11Q(�ǧ����SZ��\x1E�\x04�|��}����\x1D3�#e��IC\b�ܨ#D�䡽{�˙Q�.9*C�B032%���\ex�ph�\x1A�L���*0*z8\x17^��RA�}�8ꏉ�F��b^R�\x16�\x16e΀=6\x0F�P���\b��9ס�|�\vp\x18���Q��?�S�X���2���5��! 8���=J�\x19��#�\a�dI��Ĳ���sH�75kF�[_4�f�\x03O0c����J���1��Y�O����\x17}��/���7��E\x03���:e\x18V\x0E�\x13�ء�3r[��[���\x01l���(\x1F��\0.��J@_��\x1A\t�>�*8\fp\fr�T�/3޾D1�p��*��gS\n�{n~�\x048V{|��o�N�9�t�K]T#a���ƕw\x15�,�\e�s�\ny��ٚO�6\x10N�\x1C8�z���0#���\x19�et�=R2�c���1��46�]�t�i�\x1A�*o�X�\x02�U\x02��\bVm=X�zu���BǠ�[w-��cM`���0\x06�2iI��Q��Tfͩ��jsE�:�j�KBb!�.���,�����\n\x13�n3aw>6��ӆz4�ο���\x1Aa2�\x10OU�\x14��\x1E�)\"\x0E��1\x1A��8��ys�ec*�QR_.\x04�k3K�r\x1F��a��OV'��\x01�zT[π\x05>�ΕHW�~v��oiK�\x1Cmq�g[���1N�a0\x1F\b��<�X\\��C?�\x03�\r\x04L\x14�0P\fAm�-�%��\x13eɑ��\x16L\x16\r�\x0F�\x01�����T \b�W���ps�\x1D2+��S�qr�e��\x1D�#\x86I\x11�\x12\x17X(��J�\x14�\x1A8�Tc#\x7F�_���US�)cC!�y�)��?\x04�g�ֻjq�\ap��캻�\x038��\nJ���S�b\x06\x1E�\x03�\x02T\f�����Y)�#к�ۗ��gg�\"\x10�����x�y�Q��S\x04���]���S�m�\x17��\x1Dy����]|�\0��\x99jƔ��K=��io��\x040�d����\x06PK\x03\x04\x14\0\0\b\0\0�kX~�l:�\x01\0\0�\x01\0\0Q\0\0\0package/services/metadata/core-properties/8eee44ff7231420cba3e8ad70ef6ed4e.psmdcp\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><coreProperties xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:dcterms=\"http://purl.org/dc/terms/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.openxmlformats.org/package/2006/metadata/core-properties\"><dcterms:created xsi:type=\"dcterms:W3CDTF\">2024-03-11T20:47:30.7558222Z</dcterms:created><dcterms:modified xsi:type=\"dcterms:W3CDTF\">2024-03-11T20:47:30.7558231Z</dcterms:modified></coreProperties>PK\x03\x04\x14\0\0\b\0\0�kX.�'��\x02\0\0�\x02\0\0\v\0\0\0_rels/.rels\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Relationships xmlns=\"http://schemas.openxmlformats.org/package/2006/relationships\"><Relationship Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/officeDocument\" Target=\"/xl/workbook.xml\" Id=\"Rc20f29ad9c1d4c48\" /><Relationship Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/extended-properties\" Target=\"/docProps/app.xml\" Id=\"rId1\" /><Relationship Type=\"http://schemas.openxmlformats.org/package/2006/relationships/metadata/core-properties\" Target=\"/package/services/metadata/core-properties/8eee44ff7231420cba3e8ad70ef6ed4e.psmdcp\" Id=\"R3c2103ef1d1f45b1\" /></Relationships>PK\x03\x04\x14\0\0\b\b\0�kX\f�H��\0\0\0�\x02\0\0\x1A\0\0\0xl/_rels/workboo
[...]
